@model TimelyDepotMVC.Models.Admin.SetupChargeDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SetupChargeDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SetUpCharge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SetUpCharge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RunCharge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RunCharge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.itemid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.itemid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReSetupCharge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReSetupCharge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReSetupChargeDiscountCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReSetupChargeDiscountCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RunChargeDiscountCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RunChargeDiscountCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SetupChargeDiscountCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SetupChargeDiscountCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstSetupFree)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstSetupFree)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
