@model TimelyDepotMVC.Models.Admin.DF

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DF</legend>

        @Html.HiddenFor(model => model.ItemID)

        <div class="editor-label">
            @Html.LabelFor(model => model.DialType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DialType)
            @Html.ValidationMessageFor(model => model.DialType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescA)
            @Html.ValidationMessageFor(model => model.DescA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CollectionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CollectionID)
            @Html.ValidationMessageFor(model => model.CollectionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start_Qty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Start_Qty)
            @Html.ValidationMessageFor(model => model.Start_Qty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field11)
            @Html.ValidationMessageFor(model => model.Field11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field12)
            @Html.ValidationMessageFor(model => model.Field12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field13)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field13)
            @Html.ValidationMessageFor(model => model.Field13)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field14)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field14)
            @Html.ValidationMessageFor(model => model.Field14)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field15)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field15)
            @Html.ValidationMessageFor(model => model.Field15)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field16)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field16)
            @Html.ValidationMessageFor(model => model.Field16)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field17)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field17)
            @Html.ValidationMessageFor(model => model.Field17)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field18)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field18)
            @Html.ValidationMessageFor(model => model.Field18)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field19)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field19)
            @Html.ValidationMessageFor(model => model.Field19)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Field20)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Field20)
            @Html.ValidationMessageFor(model => model.Field20)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
