@model TimelyDepotMVC.Models.Admin.ITEM_PACKAGE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ITEM_PACKAGE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Package)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Package)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
