@{
    ViewBag.Title = "FDZTest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
<div style="width:900px; margin:0px auto;">
    <table style="margin-bottom:15px;">
        <tr>
            <td>@Html.ActionLink("Test 01", "TestRest01")</td>
            <td>@Html.ActionLink("Test 02", "TestRest02")</td>
        </tr>
    </table>
    <div class="message-error">@ViewBag.ElError</div>
    <div style="margin-bottom: 15px;">@ViewBag.ElRequest</div>

    @{
        System.Xml.XmlNodeList childs = null;
    }
    @if (ViewBag.ElChildsList != null)
    {
        childs = ViewBag.ElChildsList;
        
        <div style="margin-bottom: 15px; border: solid 1px blue;">

            @foreach (System.Xml.XmlNode item in childs)
            {
                <div class="clear-fix">
                    <div class="float-left" style="margin-right:5px;">@item.Name&nbsp;:</div>
                    <div class="float-left">@item.InnerText</div>
                </div>
            }

        </div>
    }

    <div style="margin-bottom: 15px;">@ViewBag.ElResponse</div>
    <div>@ViewBag.ElNodeList</div>
</div>
