@model IEnumerable<TimelyDepotMVC.ModelsView.PaymentTransactionList>

@{

    Layout = "~/Views/Shared/_LayoutModule.cshtml";
    var nRow = 0;
    var nMod = 0;
    var szClass = "";
    var customerData = ViewBag.CustomerData;
    var errorMsg = "";
    if (ViewBag.ErrorMessage != null)
    {
        errorMsg = ViewBag.ErrorMessage;
    }
}

<h2>Payments transaction list</h2>



<div style="width: 1240px; margin: 0px auto;">
    <table class="webgrid" style="width: 1240px; margin: 0px auto;">
        @if (!string.IsNullOrEmpty(errorMsg))
        {
            <tr><td><p>Error result: @errorMsg</p></td></tr>
        }
        <tr><td>@Html.ActionLink("Back", "SalesOrderByCustomer", new { nCustomerId = @customerData.CustomerId }, new { @class = "btn btn-default" })</td></tr>
        @if (Model != null)
        {
            <tr class="webgrid-header">


                <td></td>

                <td></td>


                <td></td>
                <td><b>Customer No: </b> @customerData.CustomerNo</td>

                <td><b>Company Name:</b> @customerData.CompanyName</td>


                <td><b>Sales order No: </b> @customerData.SalesOrderNo</td>
            </tr>

            <tr class="webgrid-header">

                <th>@Html.DisplayNameFor(model => model.TransactionId)</th>

                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesAmount)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentType)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentAmount)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefundAmount)

                </th>
            </tr>

            foreach (var item in Model)
            {

                nRow++;
                nMod = (nRow % 2);
                if (nMod == 0)
                {
                    szClass = "webgrid-alternating-row timelycustomertr trhlp";
                }
                else
                {
                    szClass = "webgrid-row-style timelycustomertr trhlp";
                }

                string sztrId = string.Format("row0_{0}_{1}", item.TransactionId, item.TransactionCode);
                <tr id="@sztrId" class="@szClass">
                    <td>
                        @item.TransactionId

                    </td>
                    <td>
                        @item.TransactionDate

                    </td>
                    <td>
                        @(@item.SalesAmount == 0 ? String.Empty : @item.SalesAmount.ToString())

                    </td>
                    <td>@item.PaymentType</td>
                    <td>@item.PaymentAmount</td>
                    <td>@item.RefundAmount</td>

                </tr>
            }
        }
        <tr>

            <td>
                @Html.ActionLink("Add a Credit card payment", "AddCashPayment", new { salesOrderNumber = @customerData.SalesOrderNo }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Add Cash/Check payment", "AddCashPayment", new { salesOrderNumber = @customerData.SalesOrderNo }, new { @class = "btn btn-default" })
        </td>
        <td></td>
        <td></td>
            <td></td>
            <td></td>
        <td><b>Due balance= @ViewBag.DueBalance </b></td>
    </tr>

</table>
</div>
@section scripts{
    <script>
        jQuery(".timelycustomertr td").each(eachtimelycustomertr);

        function eachtimelycustomertr(nPos, src) {
            jQuery(src).click(clicktimelycustomertr);
            jQuery(src).mouseover(mouseovertimelycustomertr);
        }

        function clicktimelycustomertr(src, arg) {

            //var szhRef = jQuery("#lnkeditcustomer").attr("href");

            var szId = src.target.parentNode.id;
            var splittedId = szId.split('_');
            var transCode = splittedId[splittedId.length - 1];

            szId = splittedId[1];

            //alert(szId);
            //szhRef = szhRef + '/' + szId;
            //window.open(szhRef, "_self");
            if (transCode === '1') {
                window.open("/Payment/ViewCashPayment?paymentId=" + szId + "&customerNo=CANYI", "_self");
            } else if (transCode === '2') {
                window.open("/Payment/ViewCreditCardPayment?paymentId=" + szId + "&customerNo=CANYI", "_self");
            }
        }

        function mouseovertimelycustomertr(src, arg) {
            jQuery(src.target).css("cursor", "pointer");
        }
    </script>
}