@model IEnumerable<TimelyDepotMVC.ModelsView.PaymentTransactionList>

@{
 
    Layout = "~/Views/Shared/_LayoutModule.cshtml";
    int nRow = 0;
    int nMod = 0;
    string szClass = "";
}

<h2>Payments transaction list</h2>
Customer No: CANYI
Company Name CAN YOU IMAGE?
Sales order No. 1234
<div style="width: 1240px; margin: 0px auto;">
    <table class="webgrid" style="width: 1240px; margin: 0px auto;">
        <tr class="webgrid-header">
            
            <th>@Html.DisplayNameFor(model=>model.TransactionCode)</th>
            
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
             

            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesAmount)
              

            </th>
            <th>
             @Html.DisplayNameFor(model => model.PaymentType)

            </th>
            <th>
             @Html.DisplayNameFor(model => model.PaymentAmount)

            </th>
            <th>
              @Html.DisplayNameFor(model => model.RefundAmount)

            </th>
        </tr>

@foreach (var item in Model)
{

    nRow++;
    nMod = (nRow % 2);
    if (nMod == 0)
    {
        szClass = "webgrid-alternating-row timelycustomertr trhlp";
    }
    else
    {
        szClass = "webgrid-row-style timelycustomertr trhlp";
    }

    string sztrId = string.Format("row0_{0}", item.TransactionNo);
    <tr id="@sztrId" class="@szClass" class="webgrid-alternating-row timelycustomertr trhlp">
        <td>
            @item.TransactionNo

        </td>
        <td>
            @item.TransactionDate

        </td>
        <td>
            @item.SalesAmount

        </td>
        <td>@item.PaymentType</td>
        <td>@item.PaymentAmount</td>
        <td>@item.RefundAmount</td>
       
    </tr>
}
<tr>
    <td colspan="7"><input id="Button1" type="button" value="Add a credit card payment" /></td>
</tr>

</table>
</div>
@section scripts{
    <script>
    function eachtimelycustomertr(nPos, src) {
            jQuery(src).click(clicktimelycustomertr);
            jQuery(src).mouseover(mouseovertimelycustomertr);
        }
        function clicktimelycustomertr(src, arg) {

            //var szhRef = jQuery("#lnkeditcustomer").attr("href");

            //var szId = src.target.parentNode.id;
            //szId = szId.replace("row0_", "");
            //alert(szId);
            //szhRef = szhRef + '/' + szId;
            //window.open(szhRef, "_self");
            window.open("/Payment/SalesOrderByCustomer?nCustomerId=1", "_self");
        }
        function mouseovertimelycustomertr(src, arg) {
            jQuery(src.target).css("cursor", "pointer");
        }
    </script>
}