@model IEnumerable<TimelyDepotMVC.ModelsView.PaymentTransactionList>

@{

    Layout = "~/Views/Shared/_LayoutModule.cshtml";
    var nRow = 0;
    var nMod = 0;
    var szClass = "";
    var customerData = ViewBag.CustomerData;
    var errorMsg = "";
    if (ViewBag.ErrorMessage != null)
    {
        errorMsg = ViewBag.ErrorMessage;
    }
    var anInvoiceId = 0;
    if (ViewBag.InvoiceId != null)
    {
        anInvoiceId = (int)ViewBag.InvoiceId;
    }
}

<div class="darkerline01">
    <div style="padding: 10px;text-align:center;">
        <b>Payments transaction list for @customerData.CompanyName</b>
    </div>
    <table class="webgrid" style="width: 90%; margin: 0px auto;">
        @if (!string.IsNullOrEmpty(errorMsg))
        {
            <tr><td><p>Error result: @errorMsg</p></td></tr>
        }

        @if (Model != null)
        {
            <tr>


                <td><b>Customer No: </b> @customerData.CustomerNo</td>

                <td></td>


                <td></td>
                <td></td>

                <td></td>


                <td><b>Sales order No: </b> @customerData.SalesOrderNo</td>
            </tr>

            <tr class="webgrid-header">

                <th>@Html.DisplayNameFor(model => model.TransactionId)</th>

                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesAmount)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentType)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PaymentAmount)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefundAmount)

                </th>
            </tr>

            foreach (var item in Model)
            {

                nRow++;
                nMod = (nRow % 2);
                if (nMod == 0)
                {
                    szClass = "webgrid-alternating-row timelycustomertr trhlp";
                }
                else
                {
                    szClass = "webgrid-row-style timelycustomertr trhlp";
                }

                string sztrId = string.Format("row0_{0}_{1}", item.TransactionId, item.TransactionCode);
                <tr id="@sztrId" class="@szClass">
                    <td>
                        @item.TransactionId

                    </td>
                    <td>
                        @item.TransactionDate

                    </td>
                    <td>
                        <span class="left">@string.Format("{0:N}", @item.SalesAmount)</span>

                    </td>
                    <td>@item.PaymentType</td>
                    <td class="char-align">
                        <span class="left">@string.Format("{0:N}", @item.PaymentAmount)</span>
                    </td>
                    <td class="char-align">
                        <span class="left">@string.Format("{0:N}", @item.RefundAmount)</span>
                    </td>

                </tr>
            }
        }


    </table>
    <div class="rightBottom"><p><b>Due balance= </b>@string.Format("{0:N}", @ViewBag.DueBalance)</p></div>
</div>

<div class="centerAmplied">
    @Html.ActionLink("Back", "SalesOrderByCustomer", new { nCustomerId = @customerData.CustomerId }, new { @class = "btn btn-default" })


@Html.ActionLink("Add a Credit card payment", "AddCreditCardPayment", new { salesOrderNumber = @customerData.SalesOrderNo, totalBalance = @ViewBag.DueBalance, invoiceId = @anInvoiceId }, new { @class = "btn btn-default" })
@Html.ActionLink("Add payment", "AddCashPayment", new { salesOrderNumber = @customerData.SalesOrderNo, transactionCode = 4, totalBalance = @ViewBag.DueBalance, invoiceId = @anInvoiceId }, new { @class = "btn btn-default" })

</div>

@section scripts{
    <script>
        jQuery(".timelycustomertr td").each(eachtimelycustomertr);

        function eachtimelycustomertr(nPos, src) {
            jQuery(src).click(clicktimelycustomertr);
            jQuery(src).mouseover(mouseovertimelycustomertr);
        }

        function clicktimelycustomertr(src, arg) {
            var szId = src.target.parentNode.id;
            var splittedId = szId.split('_');
            var transCode = splittedId[splittedId.length - 1];
            szId = splittedId[1];
            if ((transCode == 1) || (transCode == 4) || (transCode == 5)) {
                window.open("/Payment/EditCashPayments?paymentId=" + szId, "_self");
            } else {
                window.open("/Payment/Edit?paymentId=" + szId + "&TransCode=" + transCode, "_self");
            }
        }

        function mouseovertimelycustomertr(src, arg) {
            jQuery(src.target).css("cursor", "pointer");
        }
    </script>
}