@model IEnumerable<TimelyDepotMVC.ModelsView.PurchaseOrderList>

@{
  
    Layout = "~/Views/Shared/_LayoutModule.cshtml";
      int nRow = 0;
            int nMod = 0;
            string szClass = "";
}

<h2>SalesOrder by Customer</h2>
<div style="width: 1240px; margin: 0px auto;">
    <table class="webgrid" style="width: 1240px; margin: 0px auto;">
        <tr class="webgrid-header">
            <th>@Html.DisplayNameFor(model => model.SODate)
          
            </th>
            <th>@Html.DisplayNameFor(model => model.SalesOrderNo)
              
            </th>
            <th>@Html.DisplayNameFor(model => model.SalesAmount)
           
            </th>
            <th>@Html.DisplayNameFor(model => model.InvoiceDate)
                
            </th>
            <th>@Html.DisplayNameFor(model => model.InvoiceNo)
              
            </th>
            <th>@Html.DisplayNameFor(model => model.PaymentAmount)
             
            </th>
            <th>@Html.DisplayNameFor(model => model.BalanceDue)
               
            </th>
        </tr>
   

        @foreach (var item in Model)
        {

            nRow++;
            nMod = (nRow % 2);
            if (nMod == 0)
            {
                szClass = "webgrid-alternating-row timelycustomertr trhlp";
            }
            else
            {
                szClass = "webgrid-row-style timelycustomertr trhlp";
            }

            string sztrId = string.Format("row0_{0}", item.SalesOrderNo);

            <tr id="@sztrId" class="@szClass">
                <td>
                    @item.SODate
                </td>
                <td>
                    @item.SalesOrderNo
            
                </td>
                <td>
                    @item.SalesAmount
           
                </td>
                <td>
                    @item.InvoiceDate
      
                </td>
                <td>
                    @item.InvoiceNo
     
                </td>
                <td>
                    @item.PaymentAmount
      
                </td>
                <td>
                    @item.BalanceDue
            
                </td>
            </tr>
        }
        <tr>
            <td colspan="7">
                @Html.ActionLink("Back", "PaymentIndex", "Payment", null, new { @class = "btn btn-default" })
            </td>
        </tr>

    </table>
</div>
@section scripts{
    <script>
        jQuery(".timelycustomertr td").each(eachtimelycustomertr);
        function eachtimelycustomertr(nPos, src) {
            jQuery(src).click(clicktimelycustomertr);
            jQuery(src).mouseover(mouseovertimelycustomertr);
        }
        function clicktimelycustomertr(src, arg) {
            var szId = src.target.parentNode.id;
            szId = szId.replace("row0_", "");
            window.open("/Payment/PaymentTransactionList?salesOrderNo="+szId, "_self");
        }
        function mouseovertimelycustomertr(src, arg) {
            jQuery(src.target).css("cursor", "pointer");
        }
    </script>
}