@model TimelyDepotMVC.Models.Admin.CustomersCreditCardShipping

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    int nHas = 0;
    int nPos = -1;
    string szError = "";
    string szDecriptedData = "";
    string szDecriptedCode = "";
    string szMsg = "";

    szError = "";
    szDecriptedData = TimelyDepotMVC.Controllers.PaymentController.DecodeInfo02(Model.CreditNumber, ref szError);
    if (!string.IsNullOrEmpty(szError))
    {
        nPos = szError.IndexOf("data to decode");
        if (nPos != -1)
        {
            szDecriptedData = string.Empty;
        }
        else
        {
            szDecriptedData = string.Format("******");
        }
    }
    else
    {
        //Mask the card number
        nHas = szDecriptedData.Length;
        if (nHas > 4)
        {
            szMsg = szDecriptedData.Substring(nHas - 4, 4);
            szDecriptedData = string.Format("******{0}", szMsg);
        }
        else
        {
            szDecriptedData = string.Format("******");
        }
    }

    szDecriptedCode = TimelyDepotMVC.Controllers.PaymentController.DecodeInfo02(Model.SecureCode, ref szError);
    if (!string.IsNullOrEmpty(szError))
    {
        nPos = szError.IndexOf("data to decode");
        if (nPos != -1)
        {
            szDecriptedCode = string.Empty;
        }
        else
        {
            szDecriptedCode = string.Format("***");
        }
    }
    else
    {
        //Mask the card number
        nHas = szDecriptedCode.Length;
        if (nHas > 3)
        {
            szMsg = szDecriptedCode.Substring(nHas - 3, 3);
            szDecriptedData = string.Format("******{0}", szMsg);
            szDecriptedData = string.Format("***");
        }
        else
        {
            szDecriptedCode = string.Format("******");
        }
    }

    <fieldset>
        <legend>CustomersCreditCardShipping</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreditNumber)
        @Html.HiddenFor(model => model.SecureCode)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerId)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditNumber)
        </div>
        <div class="editor-field">
            <input id="CreditNumber01" name="CreditNumber01" type="text" value="@szDecriptedData" />
@*            @Html.EditorFor(model => model.CreditNumber)
            @Html.ValidationMessageFor(model => model.CreditNumber)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CardType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CardType)
            @Html.ValidationMessageFor(model => model.CardType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecureCode)
        </div>
        <div class="editor-field">
            <input id="SecureCode01" name="SecureCode01" type="text" value="@szDecriptedCode" />
@*            @Html.EditorFor(model => model.SecureCode)
            @Html.ValidationMessageFor(model => model.SecureCode)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zip)
            @Html.ValidationMessageFor(model => model.Zip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
