@model TimelyDepotMVC.Models.Admin.PackageRateLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>PackageRateLog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateSubmit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateSubmit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalZipCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalZipCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Boxes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Boxes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemsLastBox)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemsLastBox)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullBoxWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullBoxWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartialBoxWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartialBoxWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValueperFullBox)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValueperFullBox)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValueperPartialBox)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValueperPartialBox)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaseHeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseHeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaseLenght)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseLenght)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaseWidth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseWidth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaseWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
