@model TimelyDepotMVC.Models.Admin.VendorItem

@{
    ViewBag.Title = "CreateVendor";
}
<div class="darkerline" style="margin: 0px auto; width: 900px;">
    <div id="selectvendordivid" class="cf" style="margin-top: 5px;">
        <div class="left" style="margin-right: 10px;">
            <label class="left" style="margin-right: 5px;">Vendor No</label>
            @{
                string szSelector1 = "";
                string szSelector2 = "";
                int nHas = ViewBag.VendorItemListHas;
                if (nHas > 0)
                {
                    szSelector1 = string.Format("block;");
                    szSelector2 = string.Format("none;");
                }
                else
                {
                    szSelector1 = string.Format("none;");
                    szSelector2 = string.Format("block;");
                }
                <div id="divSelector1id" style="display:@szSelector1">
                    @Html.DropDownList("vendorId", (IEnumerable<SelectListItem>)ViewBag.VendorItemList, "Select Vendor No.", new { id = "vendorIdselectorId" })
                </div>                       
                <div id="divSelector2id" style="display:@szSelector2">
                    @Html.DropDownList("vendorNo", (IEnumerable<SelectListItem>)ViewBag.VendorNoList, "Select Vendor No.", new { id = "vendorNoselectorId" })
                </div>                }
            <input id="vendorId" name="vendorId" type="hidden" value="@ViewBag.VendorItemID" />
        </div>
        <div style="text-align: center;">To update Vendor, first select a vendor.</div>
    </div>

    <div class="cf">
        <div class="left" style="width: 560px; margin-right: 5px;">
            @using (Html.BeginForm("CreateEditVendor", "Inventory", null, FormMethod.Post, new { id = "formCreateEditVendorid" }))
            {
                long telHlp = 0;
                long faxHlp = 0;
                string telfmt = "000-000-0000";

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ItemId)
   
                TimelyDepotMVC.Models.Admin.VendorsContactAddress vendorcontactaddresHlp = ViewBag.VendorContactAddressHlp;
                <div class="ayuda01" style="display:none;">
                    <input id="venaddId" name="venaddId" type="text" value="@vendorcontactaddresHlp.Id" />
                </div>
                <div style="padding: 10px;">
                    <table class="darkerline" style="vertical-align: top; padding: 5px; width: 450px;">
                        <tr>
                            <td>
                                <div class="editor-label">
                                    Company Name:
                                </div>
                                <div class="viosinput400">
                                    <input id="CompanyName" name="CompanyName" type="text" value="@vendorcontactaddresHlp.CompanyName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    Contact:
                                </div>
                                <div>
                                    <div class="viosinput200 left">
                                        <input id="FirstName" name="FirstName" type="text" value="@vendorcontactaddresHlp.FirstName" />
                                    </div>
                                    <div class="viosinput200">
                                        <input id="LastName" name="LastName" type="text" value="@vendorcontactaddresHlp.LastName" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @{
                telHlp = Convert.ToInt64(vendorcontactaddresHlp.Tel1);
                faxHlp = Convert.ToInt64(vendorcontactaddresHlp.Tel2);
                        }
                        <tr>
                            <td>
                                <div>
                                    <div class="viosinput180 left" style="margin-right: 10px;">
                                        <div class="editor-label">
                                            Tel 1:
                                        </div>
                                        <input id="Tel1" name="Tel1" type="text" value="@telHlp.ToString(telfmt)" />
                                    </div>
                                    <div class="viosinput180">
                                        <div class="editor-label">
                                            Tel 2:
                                        </div>
                                        <input id="Tel2" name="Tel2" type="text" value="@faxHlp.ToString(telfmt)" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @{
                telHlp = Convert.ToInt64(vendorcontactaddresHlp.Tel);
                faxHlp = Convert.ToInt64(vendorcontactaddresHlp.Fax);
                        }
                        <tr>
                            <td>
                                <div>
                                    <div class="viosinput180 left" style="margin-right: 10px;">
                                        <div class="editor-label">
                                            Tel 3:
                                        </div>
                                        <input id="Tel3" name="Tel3" type="text" value="@telHlp.ToString(telfmt)" />
                                    </div>
                                    <div class="viosinput180">
                                        <div class="editor-label">
                                            Fax:
                                        </div>
                                        <input id="Fax" name="Fax" type="text" value="@faxHlp.ToString(telfmt)" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    Address 1:
                                </div>
                                <div class="viosinput400">
                                    <input id="Addres1" name="Addres1" type="text" value="@vendorcontactaddresHlp.Address" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    Address 2:
                                </div>
                                <div class="viosinput400">
                                    <input id="Addres2" name="Addres2" type="text" value="@vendorcontactaddresHlp.Note" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    Address 3:
                                </div>
                                <div class="viosinput400">
                                    <input id="Addres3" name="Addres3" type="text" value="@vendorcontactaddresHlp.Address3" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <div class="viosinput180 left" style="margin-right: 10px;">
                                        <div class="editor-label">
                                            City:
                                        </div>
                                        <input id="City" name="City" type="text" value="@vendorcontactaddresHlp.City" />
                                    </div>
                                    <div class="viosinput180">
                                        <div class="editor-label">
                                            State:
                                        </div>
                                        <input id="State" name="State" type="text" value="@vendorcontactaddresHlp.State" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <div class="viosinput180 left" style="margin-right: 10px;">
                                        <div class="editor-label">
                                            Postal Code:
                                        </div>
                                        <input id="Zip" name="Zip" type="text" value="@vendorcontactaddresHlp.Zip" />
                                    </div>
                                    <div class="viosinput180">
                                        <div class="editor-label">
                                            Country:
                                        </div>
                                        <input id="Country" name="Country" type="text" value="@vendorcontactaddresHlp.Country" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    E-mail address:
                                </div>
                                <div class="viosinput400">
                                    <input id="Email" name="Email" type="text" value="@vendorcontactaddresHlp.Email" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    Website:
                                </div>
                                <div class="viosinput400">
                                    <input id="Website" name="Website" type="text" value="@vendorcontactaddresHlp.Website" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                <input id="btUpdateVendor" class="btNavTimley" style="display:none;" type="submit" value="Update" />
                            </td>
                        </tr>
                    </table>
                </div> 
                <div style="display:none;">
                    <input id="VendorNoselectedid" name="VendorNoselectedid" type="text" />
                    <input id="itemselectedid" name="itemselectedid" type="text" />
                </div>       
            }
        </div>
        <div class=" left" style="width: 330px; margin-bottom: 5px; margin-top: 155px;">
            <table style="border: 1px solid #6B6C69; padding: 10px;">
                <tr>
                    <td>
                        <div>
                            <div class="editor-label left" style="margin-right: 5px;">
                                @Html.LabelFor(model => model.VendorNo)
                            </div>
                            <div id="vendoritemidHlp" class="editor-field" style="margin-top: 3px; padding-left: 140px;">
                                @Html.EditorFor(model => model.VendorNo)
                                @Html.ValidationMessageFor(model => model.VendorNo)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr style="display: none;">
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.VendorPartNo)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.VendorPartNo)
                            @Html.ValidationMessageFor(model => model.VendorPartNo)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.UpdateDate)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.UpdateDate)
                            @Html.ValidationMessageFor(model => model.UpdateDate)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.Cost)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.Cost)
                            @Html.ValidationMessageFor(model => model.Cost)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.CostBlind)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.CostBlind)
                            @Html.ValidationMessageFor(model => model.CostBlind)
                        </div>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            On hand Qty
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            0
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.RunCharge)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.RunCharge)
                            @Html.ValidationMessageFor(model => model.RunCharge)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.SetupCharge)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.SetupCharge)
                            @Html.ValidationMessageFor(model => model.SetupCharge)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.ReSetupCharge)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.ReSetupCharge)
                            @Html.ValidationMessageFor(model => model.ReSetupCharge)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label left" style="margin-right: 5px;">
                            @Html.LabelFor(model => model.LeadTime)
                        </div>
                        <div class="editor-field" style="padding-left: 140px;">
                            @Html.EditorFor(model => model.LeadTime)
                            @Html.ValidationMessageFor(model => model.LeadTime)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">
                        <div id="btCreateVendorHlpId">
                            @if (ViewBag.bVendorItemData != null)
                            {
                                if (!ViewBag.bVendorItemData)
                                {
                                    //Do nothing
                                }
                                else
                                {
                                    //Display action links 
                                    @Html.ActionLink("Update", "CreateEditVendor01", "Inventory", new { itemid = Model.ItemId, id = Model.Id }, new { @class = "btNavTimley", id = "updatevendoritemHlpId" })
                                    @Html.ActionLink("Delete", "DeleteVendor", "Inventory", new { id = Model.Id }, new { id = "btDeleteSalesContact", @class = "btNavTimley", onclick = "return confirm('Do you want to delete this Vendor Item');" })
                                }
                            }
                            <div style="display: none;">
                                <input id="btDialogClose" class="btNavTimley" type="button" value="Close" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<div style="margin: 5px; width: 96%;">
    <div style="width: 50px; margin: 0 auto;">
        <input id="btDialogClose01" class="btNavTimley" type="button" value="Close" />
    </div>
</div>

