@model TimelyDepotMVC.Models.Admin.ITEM


@{
    ViewBag.Title = "Inventory File";
    Layout = "~/Views/Shared/_LayoutModule.cshtml";
}
<div class="divh1">@ViewBag.Title&nbsp;-&nbsp;Note</div>

<div style="border: 1px solid #6B6C69; padding: 5px 50px 5px 50px;">
    <div class="cf">
        <div class="editor-label left">
            Item&nbsp;No.:&nbsp;<span style="font-weight: bold;">@Html.DisplayFor(model => model.ItemID)</span>
        </div>
        <div class="left" style="width: 500px; margin-left: 300px;">
            <input id="btPrevious" class="btNavTimley" type="button" value="Previous" />
            <input id="btNext" class="btNavTimley" style="margin-left: 50px;" type="button" value="Next" />
        </div>
        <div class="right">
            @Html.DropDownList("iteminavtiveid", (IEnumerable<SelectListItem>)ViewBag.ActiveInactivelist, "Select", new { id = "selectiteminactiveid" })
            <div class="editor-field" style="display: none;">
                @Html.EditorFor(model => model.Inactive)
                @Html.ValidationMessageFor(model => model.Inactive)
            </div>
        </div>
    </div>
    <div id="noteid">
        @using (Html.BeginForm("UpdateNote", "Inventory", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ItemID)
            <div style="width: 950px; margin: 5px auto; border: 1px solid #000; padding: 5px;">
                <div class="editor-label" style="margin: 5px;">
                    @Html.LabelFor(model => model.Note)
                </div>
                <div class="editor-field">
                    <textarea id="Note" name="Note" cols="115" rows="15">@Model.Note</textarea>
                    @*                        @Html.EditorFor(model => model.Note)
                        @Html.ValidationMessageFor(model => model.Note)*@
                </div>
                <div style="margin: 5px; text-align: center;">
                    <input type="submit" class="btNavTimley" value="Update" />
                </div>
            </div>            
        }
    </div>
    <div style="width: 50px; margin: 5px auto;">
        <input id="btQuit" class="btNavTimley" type="button" value="Quit" />
    </div>
</div>
<div style="display: none;">
    @Html.ActionLink("Previous", "PreviousSalesHistorybyItemTab", "Inventory", new { id = Model.ItemID, opcion = "4" }, new { id = "lnkPrevious" })
    @Html.ActionLink("Next", "NextSalesHistorybyItemTab", "Inventory", new { id = Model.ItemID, opcion = "4" }, new { id = "lnkNext" })
    @Html.ActionLink("SalesHistory", "SalesHistorybyItem", "Inventory", new { id = Model.ItemID, opcion = "4" }, new { id = "lnkSalesHistory" })
</div>
@section scripts{
    <script type="text/javascript">

        jQuery(document).ready(initializeNote);

        function initializeNote() {

            //Set the buttons
            jQuery(".btNavTimley").button();

            //Intialize fields
            SetActiveInactiveSelector();
            jQuery("#selectiteminactiveid").attr("disabled", "disabled");

            //Attach handlers 
            jQuery("#btPrevious").click(clickbtPrevious);
            jQuery("#btNext").click(clickbtNext);
            jQuery("#btQuit").click(clickbtQuit);

            //Prepare the dialogs 
            jQuery("#loadingHlpDialogid").dialog({ autoOpen: false, modal: true });

        }


        function SetActiveInactiveSelector() {
            //debugger;

            var szActiveInactive = jQuery("#item_Inactive").val();

            var ddlHlp = jQuery("#selectiteminactiveid")[0];
            if (szActiveInactive == "") {
                ddlHlp.selectedIndex = 1;
            }
            else {
                if (szActiveInactive == "Y") {
                    ddlHlp.selectedIndex = 2;
                }
                else {
                    ddlHlp.selectedIndex = 1;
                }
            }
        }
        function clickbtPrevious(src, arg) {
            var szUrl = jQuery("#lnkPrevious").attr("href");
            window.open(szUrl, target = "_self");
        }
        function clickbtNext(src, arg) {
            var szUrl = jQuery("#lnkNext").attr("href");
            window.open(szUrl, target = "_self");
        }
        function clickbtQuit(src, arg) {
            window.close();
        }

    </script>
}