@model TimelyDepotMVC.Models.Admin.Vendors

@using (Html.BeginForm("Create","Vendors", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="padding: 5px;">
        <table style="width: 100%; border-collapse: collapse; margin: 0px auto;">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.VendorNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.VendorNo)
                        @Html.ValidationMessageFor(model => model.VendorNo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Status)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BussinesType)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BussinesType)
                        @Html.ValidationMessageFor(model => model.BussinesType)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Origin)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Origin)
                        @Html.ValidationMessageFor(model => model.Origin)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreditLimit)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.CreditLimit)
                        @Html.ValidationMessageFor(model => model.CreditLimit)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PaymentTerms)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PaymentTerms)
                        @Html.ValidationMessageFor(model => model.PaymentTerms)
                    </div>
                </td>
            </tr>
        </table>

        <div style="display:none;">
            <div class="editor-label">
                @Html.LabelFor(model => model.BussinesSice)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BussinesSice)
                @Html.ValidationMessageFor(model => model.BussinesSice)
            </div>
        </div>
        <p>
            <input type="submit" class="btn btn-default" value="Create" />&nbsp;   
            <input id="btDialogClose" class="btn btn-default" type="button" value="Close" />
        </p>
    </div>}

