@model TimelyDepotMVC.Models.Admin.Payments

@using (Html.BeginForm("Payment", "SalesOrder", null, FormMethod.Post, new { id = "formpaysalesorderid" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>

        @*@Html.HiddenFor(model => model.Id)*@

        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaymentNo)
            @Html.ValidationMessageFor(model => model.PaymentNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerNo)
            @Html.ValidationMessageFor(model => model.CustomerNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SalesOrderNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SalesOrderNo, new { id = "SalesOrderNoPay", name = "SalesOrderNo" })
            @Html.ValidationMessageFor(model => model.SalesOrderNo)
        </div>
        <div style="margin:3px;">
            @Html.DropDownList("PaymentTypeHlpId", (IEnumerable<SelectListItem>)ViewBag.CardsList, "Select Payment Type", new { id = "PaymentTypeHlpIdselectorId" })
            <div style="display: none;">
                <input id="PaymentTypeHlpId" type="text" />
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaymentType)
            @Html.ValidationMessageFor(model => model.PaymentType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditCardNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditCardNumber)
            @Html.ValidationMessageFor(model => model.CreditCardNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReferenceNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReferenceNo)
            @Html.ValidationMessageFor(model => model.ReferenceNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PaymentDate, new { id = "PaymentDatePay", name = "PaymentDate" })
            @Html.ValidationMessageFor(model => model.PaymentDate)
        </div>

        <div style="margin:5px;">
            <input class="btn btn-default" type="submit" value="Save" />&nbsp;<input class="btn btn-default" id="btDialogClose" type="button" value="Close" />
        </div>
    </div>
}

