@model TimelyDepotMVC.Models.Admin.ShipmentDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ShipmentDetails</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShipmentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipmentId)
            @Html.ValidationMessageFor(model => model.ShipmentId)
        </div>

        @Html.HiddenFor(model => model.ShipmentDetailID)

        <div class="editor-label">
            @Html.LabelFor(model => model.DetailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DetailId)
            @Html.ValidationMessageFor(model => model.DetailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BoxNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BoxNo)
            @Html.ValidationMessageFor(model => model.BoxNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sub_ItemID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sub_ItemID)
            @Html.ValidationMessageFor(model => model.Sub_ItemID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitPrice)
            @Html.ValidationMessageFor(model => model.UnitPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitWeight)
            @Html.ValidationMessageFor(model => model.UnitWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DimensionH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DimensionH)
            @Html.ValidationMessageFor(model => model.DimensionH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DimensionL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DimensionL)
            @Html.ValidationMessageFor(model => model.DimensionL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DimensionD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DimensionD)
            @Html.ValidationMessageFor(model => model.DimensionD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reference1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reference1)
            @Html.ValidationMessageFor(model => model.Reference1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reference2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reference2)
            @Html.ValidationMessageFor(model => model.Reference2)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
