@model TimelyDepotMVC.Models.Admin.webpages_Membership

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>webpages_Membership</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConfirmationToken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmationToken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsConfirmed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsConfirmed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastPasswordFailureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPasswordFailureDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordFailuresSinceLastSuccess)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordFailuresSinceLastSuccess)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordChangedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordChangedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordSalt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordSalt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordVerificationToken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordVerificationToken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordVerificationTokenExpirationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordVerificationTokenExpirationDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
