@model TimelyDepotMVC.Models.Admin.EnvironmentParameters

@{
    ViewBag.Title = "Edit Enviroment Variables";
    Layout = "~/Views/Shared/_LayoutModule.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.ParameterId)

    <fieldset>
        <legend>Edit Environment Variables</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParameterId)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ParameterId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GatewayId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GatewayId)
            @Html.ValidationMessageFor(model => model.GatewayId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
    @Html.LabelFor(model => model.KeyValue)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.KeyValue)
    @Html.ValidationMessageFor(model => model.KeyValue)
</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Password,new{@cols=42,@rows=5})
            @Html.ValidationMessageFor(model => model.Password)
        </div>
      

        <div class="editor-label">
            @Html.LabelFor(model => model.KeyParameter)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.KeyParameter,new{@cols=42,@rows=5})
            @Html.ValidationMessageFor(model => model.KeyParameter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServerUrl)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ServerUrl, new { @cols = 42, @rows = 5 })
            @Html.ValidationMessageFor(model => model.ServerUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionUri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionUri)
            @Html.ValidationMessageFor(model => model.TransactionUri)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Active) @Html.EditorFor(model => model.Active)
        </div>
 

        <p>
            <input class="btn btn-default" type="submit" value="Save" /> | @Html.ActionLink("Back", "Development", "Home", null, new { @class = "btn btn-default" })
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
