@model TimelyDepotMVC.Models.Admin.Profiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profiles</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyNames)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyNames)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyValueStrings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyValueStrings)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyValueBinary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyValueBinary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdatedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
