@using PagedList.Mvc;   @*//import this so we get our HTML Helper*@
@using PagedList;       @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@model IEnumerable<TimelyDepotMVC.Models.Admin.New_Items>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>New Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>ITEMID</th>
        <th>
            @Html.DisplayNameFor(model => model.SUB_ITEMID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colors_available)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ITEMID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ITEMID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ITEMID })
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.ITEMID)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.SUB_ITEMID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colors_available)
        </td>
    </tr>
}
    <tr>
        <td colspan="6">
            <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfData, page => Url.Action("Index", new { page }))

        </td>
    </tr>

</table>
