@model TimelyDepotMVC.Models.Admin.Customers

@using (Html.BeginForm("UpdateCustomer", "Quotes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id);
    <div style="padding: 5px;">
        <div id="errorcustomeridHlp" class="error" style="margin-bottom: 10px;">
        </div>
        <table style="width: 100%; border-collapse: collapse; margin: 0px auto;">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CustomerNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.CustomerNo)
                        @Html.ValidationMessageFor(model => model.CustomerNo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Status)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </td>
            </tr>
            <tr>
                <td>Company Name</td>
                <td>
                    <input id="CompanyName" name="CompanyName" type="text" value="@ViewBag.CompanyName" />
                </td>
                <td>Email</td>
                <td>@ViewBag.CustomerEmail
                    <input id="customeremailHlpId" name="customeremailHlpId" type="hidden" value="@ViewBag.CustomerEmail" />
                </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>
                    <input id="FirtsName" name="FirtsName" type="text" value="@ViewBag.FirstName" />
                </td>
                <td>First Name</td>
                <td>
                    <input id="LastName" name="LastName" type="text" value="@ViewBag.LastName" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BussinesType)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BussinesType)
                        @Html.ValidationMessageFor(model => model.BussinesType)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SalesPerson)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SalesPerson)
                        @Html.ValidationMessageFor(model => model.SalesPerson)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DeptoNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DeptoNo)
                        @Html.ValidationMessageFor(model => model.DeptoNo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SellerPermintNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SellerPermintNo)
                        @Html.ValidationMessageFor(model => model.SellerPermintNo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ASINo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ASINo)
                        @Html.ValidationMessageFor(model => model.ASINo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PPAINo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PPAINo)
                        @Html.ValidationMessageFor(model => model.PPAINo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SageNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SageNo)
                        @Html.ValidationMessageFor(model => model.SageNo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Origin)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Origin)
                        @Html.ValidationMessageFor(model => model.Origin)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreditLimit)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.CreditLimit)
                        @Html.ValidationMessageFor(model => model.CreditLimit)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PaymentTerms)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PaymentTerms)
                        @Html.ValidationMessageFor(model => model.PaymentTerms)
                    </div>
                </td>
            </tr>
        </table>

        <div style="display: none;">
            <div class="editor-label">
                @Html.LabelFor(model => model.BussinesSice)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BussinesSice)
                @Html.ValidationMessageFor(model => model.BussinesSice)
            </div>
        </div>

        <p>
            <input type="submit" class="btNavTimley" value="Update" />&nbsp;   
            <input id="btDialogCloseCustomer" class="btNavTimley" type="button" value="Close" />
        </p>
    </div>
}
