@model TimelyDepotMVC.Models.Admin.CustomerDefaults

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CustomerDefaults</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesContactId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesContactId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubsidiaryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubsidiaryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubsidiaryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubsidiaryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShiptoAddressId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShiptoAddressId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShiptoName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShiptoName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoteId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoteName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
