@model TimelyDepotMVC.Models.Admin.CustomersSalesContact

<div class="input-group">
    <label for="billerName">@Html.DisplayNameFor(model => model.FirstName)</label>
    <input class="form-control" id="billerName" type="text" value="@Model.FirstName" />
</div>
<div class="input-group">
    <label for="billerAddress">@Html.DisplayNameFor(model => model.Address)</label>
    <input class="form-control" id="billerAddress" type="text" value="@Model.Address" />
</div>
<div class="input-group">
    <label for="billerTel">@Html.DisplayNameFor(model => model.Tel)</label>
    <input class="form-control" id="billerTel" type="text" value="@Model.Tel" />
</div>
<div class="input-group">
    <label for="billerCity">@Html.DisplayNameFor(model => model.City)</label>
    <input class="form-control" id="billerCity" type="text" value="@Model.City" />
</div>
<div class="input-group">
    <label for="billerState">@Html.DisplayNameFor(model => model.State)</label>
    <input class="form-control" id="billerState" type="text" value="@Model.State" />
</div>
<div class="input-group">
    <label for="billerZip">@Html.DisplayNameFor(model => model.Zip)</label>
    <input class="form-control" id="billerZip" type="text" value="@Model.Zip" />
</div>
<div class="input-group">
    <label for="billerCountry">@Html.DisplayNameFor(model => model.Country)</label>
    <input class="form-control" id="billerCountry" type="text" value="@Model.Country" />
</div>
 
