@model IEnumerable<TimelyDepotMVC.UPSWrappers.ResultData>
<style>
    .tableBorder tr th td
    {
        border: 1px solid;
    }

    th
    {
        padding:5px;
    }

</style>

<table class="tableBorder">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publishedcost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Negcost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publishedcost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Negcost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        
    </tr>
}

</table>
