@model IEnumerable<TimelyDepotMVC.UPSWrappers.ResultData>
           @if (@Model.Any())
           {
               <div class="form-group">
                   <label>Choose a UPS rate from list:</label><br />
                   <table class="webgrid" style="width: 100%; margin: 0px auto;">
                       <tbody>
                           <tr class="webgrid-header">
                               <th></th>
                               <th>Service</th>
                               <th>Cost</th>
                               <th>Published cost</th>
                               <th>Negotiated cost</th>
                               <th>Time</th>
                           </tr>

                           @foreach (var item in Model)
                           {
                               <tr>
                                   <td>
                                       <input style="width: 20px;" id="code" @item.code name="chosenUpsRate" type="radio" value="@item.code" />
                  
                                   </td>
                                   <td>@item.service</td>
                                   <td>@item.cost</td>
                                   <td>@item.Publishedcost</td>
                                   <td>@item.Negcost</td>
                                   <td>@item.time</td>
                               </tr>
                           }
     

                       </tbody>
                   </table>
                   <input class="btn btn-default" type="button" id="btnProcessShipment" value="Process shipment" onclick=" processShipment(); " />
               </div>
           }
           else
           {
               <p>Sorry.Could not find rates for this product</p>
           }
