@{
    ViewBag.Title = "Shipment";
}
<div style="display: none;">
    <input id="txtShipmentId" value="@ViewBag.ActualShipmentId" type="text" />

</div>
<div class="divh1 boxtb3">@ViewBag.Title <p id="addressresultdiv03" style="float: right;color:green;display:none;">@(@ViewBag.AddressResult == null ? "" : @ViewBag.AddressResult) </p></div>

<div>
    <div id="tabs" style="margin: 0px auto;">
        <ul>
            <li><a href="#tabs-1">Enter Shipment</a></li>
            <li><a href="#tabs-2">Shipment Detail</a></li>
            <li><a href="#tabs-3">Process Shipment</a></li>
            <li><a href="#tabs-4">Shipment Log</a></li>
        </ul>

        <div id="tabs-1">
            <div>
                <div class="cf">
                    <div class="left boxl5">Invoice #</div>
                    <div class="left boxl5">
                        <input style="width:60px;" id="invoiceNoid" type="text" />
                    </div>

                    <div class="left" style="margin-left: 20px; height: 30px;">@Html.ActionLink("Search", "SelectInvoice", "Shipment", null, new { id = "selectInvoicelnk", @class = "btn btn-default" })</div>
                    <div id="tradeselector01id" class="left boxl5"></div>
                </div>
                <div id="editInvoicediv">
                </div>
            </div>
            <br />
            <div id="shipmentDialog">

            </div>
        </div>
        <div id="tabs-2">

            <div id="shipmentDetailsdialog">
            </div>
        </div>
        <div id="tabs-3">
            <div id="displayInvoicediv">
            </div>
            <div id="shipmentDetailsDisplay">
            </div>
            <div id="processShipmentInfo"></div>

        </div>
        <div id="tabs-4">
            <div id="searchlogtabs">
                <div style="margin: 0px auto; width: 900px; padding: 5px;">
                    @using (Html.BeginForm("ShipmentLog", "Shipment", null, FormMethod.Post, new { id = "formshipmentlogid" }))
                    {
                        <div style="margin: 0 auto; width: 600px;">
                            <div class="cf">
                                <div class="cf right" style="margin: 5px;">
                                    <div class="left" style="margin-right: 5px; margin-top: 5px;">
                                        <input id="searchItemLog" name="searchItemLog" type="text" value="@ViewBag.SearchItemLog" />
                                    </div>
                                    <div>
                                        <input id="btnSubmitSearchLog" class="btn btn-default" type="submit" value="Search" />
                                        @Html.ActionLink("Reset", "Index", "Shipment", null, new { id = "lnkResetIdLog", @class = "btn btn-default" })
                                    </div>
                                </div>
                            </div>
                            <div class="cf">
                                <div class="left" style="margin: 5px; width: 96px;">Search by:</div>
                                <div style="margin-left: 110px; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; width: 260px;">
                                    <div><span>Invoice No.</span><input id="ckcustLog" style="margin-left: 45px;" type="checkbox" checked /></div>
                                </div>
                                <div style="margin-left: 110px; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; width: 260px;">
                                    <div><span>Shipment Id</span><input id="ckcompLog" style="margin-left: 38px;" type="checkbox" /></div>
                                </div>
                                <div style="margin-left: 110px; margin-top: 5px; margin-right: 5px; margin-bottom: 5px; width: 260px;">
                                    <div><span>Shipment Date</span><input id="ckcodeLog" style="margin-left: 18px;" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;">
                            <input id="ckCriteriaHlpLog" name="ckCriteriaLog" type="text" value="@ViewBag.ckCriteriaHlpLog" />
                        </div>
                    }
                </div>
                <div id="shipmentLogdialog">
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    @Html.ActionLink("Edit", "Edit", "Shipment", new { id = "0" }, new { id = "editlnk" })
    @Html.ActionLink("Get Sales Details", "GetSalesDetailsSRC", "Invoice", new { salesorderid = "0" }, new { id = "getsalesdetailsId" })
    @Html.ActionLink("Get Shipment Details", "GetShipmenDetails", "Shipment", new { invoiceid = "0" }, new { id = "getshipmentdetailsId" })
    @Html.ActionLink("Get Process Details", "ProcessShipmentInformation", "Shipment", new { invoiceid = "0" }, new { id = "getprocessdetailsId" })
    @Html.ActionLink("Get Ups rates Details", "GetUPSRateTE", "Shipment", new { invoiceid = "0" }, new { id = "getUpsRateDetailsId" })

    <div id="upserrordiv" class="error" style="text-align: center;">
        @ViewBag.UPSError
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var w;
        var selectedShipmentDetailValue;
        var szId;
        jQuery(document).ready(initializeShipment);

        function initializeShipment() {
            //Set the buttons
            jQuery(".btn btn-default").button();

            //Attach handlers
            jQuery("#selectInvoicelnk").click(clickselectInvoicelnk);
            //jQuery("#updateDetail2").click(updateDetailBox2);
            //jQuery("#updateDetail").click(updateDetailBox);
            jQuery("#lnkResetIdLog").click(clicklnkResetIdLog);
            jQuery("#ckcustLog").click(clickckcustLog);
            jQuery("#ckcompLog").click(clickckcompLog);
            jQuery("#ckcodeLog").click(clickckcodeLog);
            jQuery("#btnSubmitSearchLog").click(clickbtnSubmitSearchLog);
            jQuery("#upsRateListbtn").click(GetRateList);

            //Create the tabs
            jQuery("#tabs").tabs({ load: loadTab });
            //jQuery("#logtabs").tabs();

            //Prepare the dialogs
            jQuery("#loadingHlpDialogid").dialog({ autoOpen: false, modal: true });


            SetDefaultRateSelectors();

            szId = '@ViewBag.LoadInvoiceNo';
            if (szId != "") {
                LoadInvoice(szId);
            }

            //Set Shipmentlogo values
            var szckCriteriaLogo = jQuery("#ckCriteriaHlpLog").val();
            SetDefaultLogCheckBox(szckCriteriaLogo);

            $('#ddlBillTo').val('Shipper');

            $(document).on('change', '#ddlBillTo', function() {
                var selectedValue = $('#ddlBillTo :selected').text();
                if (selectedValue != 'Shipper') {
                    $('#txtUPSAccountNumber').val('');
                    $('#billerInformation input').val('');
                } else {
                    showBillerInformation();
          
                }


            });
            if ($('#addressresultdiv03').text() != "") {
                $("#shipmentDialog").show();
            }
            if ($('#item_Quantity').val() == "") {

                $('#processShipmentBtn').hide();
            }

        }

        function clickChangeTab(tabIndex) {
            //debugger;
            if (jQuery("#shipmentDetailsdialog").children().length > 0) {
                $("#tabs").tabs("option", "active", tabIndex);
            }
        }

        function GetRateList() {

            var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
            if (szInvoiceId != undefined) {
                LoadUpsRateInformation(szInvoiceId);
            } else {
                alert("Missing Invoice data necessary to get rates list.");
            }
        }

        function validateUPSAccount() {
            debugger;
            //var toZipCode = $('#ToZip').val();
            var szInvoiceNo = jQuery("#invoiceNoid").val();
            var actualShipmentId = jQuery("#txtShipmentId").val();
            var upsShipperNumber = jQuery("#shipperNumber").val();
          
            //var shipmentDetailId = jQuery("#txtShipmentDetail").val();
            var billerData = prepareShipmentRequest();
           

            szUrl = '@Url.Action("ProcessShipmentConfirmation", "Shipment")'; // jQuery(src.target).attr("href"); //jQuery("#searchsalesorderformid").attr("action");
            if (szUrl != "") {
                szUrl = szUrl + '?serviceCode=03&shipmentId=' + actualShipmentId + '&InvoiceNo=' + szInvoiceNo + '&upsShipperNumber=' + upsShipperNumber + '&billerData=' + billerData;
            }
            if (actualShipmentId != '') {
                //Display load image
                ShowLoadingDialog();

                //Get the UPS Rate
                jQuery.ajax({
                    type: 'GET',
                    url: szUrl,
                    data: null,
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'html',
                    error: AjaxFailed,
                    success: UPSAccountValidationResponse
                });
            } else {
                alert("Please. Validate shipto address before validating this account");

            }
        }

        function UPSAccountValidationResponse(response, statusCode) {
            //Hide load image
            HideLoadingDialog();
     
            var obj = jQuery.parseJSON(response);
            if (obj.ShipmentResults !== undefined) {
                $("#validateAccount").attr('data-validated', true);
          
                alert("You have a valid account number.");
           
            } else {
                alert(response);
            }
        } 
 

        function prepareShipmentRequest() {

            var billerName = jQuery("#billerName").val();
            var billerAddress = jQuery("#billerAddress").val();
            var billerTelephone = jQuery("#billerTel").val();
            var billerCity = jQuery("#billerCity").val();
            var billerState = jQuery("#billerState").val();
            var billerZipCode = jQuery("#billerZip").val();
            var billerCountry = jQuery("#billerCountry").val();
            var customerType = jQuery("#selectcustomertypeid").val();
            var serviceType = jQuery("#selectupsServiceTypeid").val();
            var packageType = jQuery("#selectpacakePackTypeid").val();
            var billerType = jQuery("#ddlBillTo").val();
            var accountNumber = jQuery("#txtUPSAccountNumber").val();

            var billerData = "{'billerName':'" + billerName + "'," +
                                      "'billerAddress':'" + billerAddress + "'," +
                                      "'billerCity':'" + billerCity + "'," +
                                      "'billerCountry':'" + billerCountry + "'," +
                                      "'billerState':'" + billerState + "'," +
                                      "'billerZip':'" + billerZipCode + "'," +
                                      "'customerType':'" + customerType + "'," +
                                      "'serviceType':'" + serviceType + "'," +
                                      "'packageType':'" + packageType + "'," +
                                      "'billerType':'" + billerType + "'," +
                                       "'accountNumber':'" + accountNumber + "'," +
                                      "'billerTel':'" + billerTelephone + "'}";

            return billerData;
        }

        function processShipment() {
            var chosenServiceCode = $('input:radio[name=chosenUpsRate]:checked').val();
            var szInvoiceNo = jQuery("#invoiceNoid").val();
            var actualShipmentId = jQuery("#txtShipmentId").val();
            var upsShipperNumber = jQuery("#shipperNumber").val();
            var validatedAccount = $("#validateAccount").attr('data-validated');
            var billerData = this.prepareShipmentRequest();
         

            if (validatedAccount != "true") {
                alert("Please!! Validate this account or check  if you have a valid UPS number.");
                return;
            }

            if (chosenServiceCode !== undefined) {
                szUrl = '@Url.Action("ProcessShipment", "Shipment")'; // jQuery(src.target).attr("href"); //jQuery("#searchsalesorderformid").attr("action");
                if (szUrl != "") {
                    szUrl = szUrl + '?serviceCode=' + chosenServiceCode + '&shipmentId=' + actualShipmentId + '&InvoiceNo=' + szInvoiceNo + '&upsShipperNumber=' + upsShipperNumber + '&billerData=' + billerData;
                }

                //Display load image
                ShowLoadingDialog();

                //Get the UPS Rate
                jQuery.ajax({
                    type: 'GET',
                    url: szUrl,
                    data: null,
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'html',
                    error: AjaxFailed,
                    success: UPSShipmentResponse
                });
            } else {
                alert("Error. Please choose a UPS rate from list.");
            }
        }

        function IsJsonString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }

        function IsArray(obj) {
            if (Object.prototype.toString.call(obj) === '[object Array]') {
                return true;
            }
        }

        function UPSShipmentResponse(response, statusCode) {

            HideLoadingDialog();
            $("#shipmentContainerData").show();
            if (statusCode === "success") {
                var rowData = "";
                if (IsJsonString(response)) {
                    var obj = jQuery.parseJSON(response);
                    if (obj.ShipmentResults !== undefined) {
                        rowData += "<tr><th>TrackNumber</th><th>Label</th></tr>";
                        for (var shipmentIndex = 0; shipmentIndex < obj.ShipmentResults.PackageResults.length; shipmentIndex++) {
                            var labelImage = "<img "
                                + "src='" + "data:image/jpg;base64,"
                                + obj.ShipmentResults.PackageResults[shipmentIndex].ShippingLabel.GraphicImage + "'/>";

                            var trackingNumber = obj.ShipmentResults.PackageResults[shipmentIndex].TrackingNumber;
                            rowData += "<tr><td>" + trackingNumber + "</td><td>" + labelImage + "</td></tr>";

                        }

                        $('#shipmentResult').html(rowData);
                        jQuery("#shipmentResult img").click(clickBtnLabelView);
                        jQuery("#printLabel").click(clickBtnPrintLabel);
                        jQuery("#shipmentDetailsdialog").html("<p>No shipments available.</p>");
                        //$('.shippingQuantity').each(function(i, obj) {
                        //    $(this).val(0);
                        //});

                        var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
                        if (szInvoiceId != undefined) {
                            loadInvoiceDetails(szInvoiceId);
                        }
                    } else {
                        alert("Error. "+response+" Please contact administrator.");
                    }
                } else {
                    alert("Error. Missing data in shipped box. Please fill upp data for all boxes.");
                }
            }
        }

        function clickBtnLabelView(src) {
            src.preventDefault();
            var labelImage = $(this).closest('tr').find('td:last').html();
            $("#labelContent").html(labelImage);
            w = window.open("", "Label preview", "width=600,height=400,resizable,scrollbars=yes,status=1");
            w.document.write('<html><head><title>Print it!</title>' +
                '<link rel="stylesheet" type="text/css" href="http://www.timelydepot.com/Content/mystyleMVC.css">' +
                '<link rel="stylesheet" type="text/css" href="http://www.timelydepot.com/Content/bootstrap.css">' +
                '</head><body>');
            w.document.write('<input class="btn btn-default" type="button" value="Print this page" onclick="window.print()">');
            w.document.write($("#labelPreview").html());
            w.document.write('</body></html>');
        }

        function clickBtnPrintLabel() {
            w.window.print();
        }

        function ShowBoxLabel(src) {
            var currentObj = src.currentTarget;
            var imageUrl = currentObj.currentSrc;
            jQuery("#labelBoxPreview").dialog({ autoOpen: false, modal: true });
            jQuery("#labelBoxContent img").attr("src", imageUrl);
            jQuery("#labelBoxPreview").dialog("open");
        }


        function clickbtnSubmitSearchLog(src, arg) {
            src.preventDefault();

            var szUrl = jQuery("#formshipmentlogid").attr("action");

            var szSearchItemLog = jQuery("#searchItemLog").val();
            var szckCriteriaLog = jQuery("#ckCriteriaHlpLog").val();

            szUrl = szUrl + '?searchItemLog=' + +szSearchItemLog + '&ckCriteriaLog= ' + szckCriteriaLog;

            //alert('clickbtnSubmitSearchLog: ' + szUrl);

            //Display load image
            ShowLoadingDialog();

            //Get the UPS Rate
            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: shipmentLogSuccess
            });
        }

        function shipmentLogSuccess(response, statusCode) {
            var objRes = response;

            //Display the response data

            jQuery("#shipmentLogdialog").html(objRes);


            //Attach Handlers
            jQuery(".shipmentdetailslnk").each(eachshipmentdetailslnk);

            //Hide load image
            HideLoadingDialog();
        }

        function eachshipmentdetailslnk(nPos, src) {
            jQuery(src).click(clickshipmentdetailslnk);
        }

        function clickshipmentdetailslnk(src, arg) {
            src.preventDefault();

            var szUrl = src.target.href + '&shipmentLog=true';

            //Display load image
            ShowLoadingDialog();


            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: shipmentDetailSuccess
            });

        }

        function clicklnkResetIdLog(src, arg) {

            var szHref = "";
            var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
            if (szInvoiceId != undefined) {
                szHref = src.target.parentNode.href + '?id=' + szInvoiceId;
                src.target.parentNode.href = szHref;
            }
        }

        function SetDefaultLogCheckBox(szckCriteria) {

            jQuery("#ckcustLog").prop("checked", false);
            switch (szckCriteria) {
            case "invoice":
                jQuery("#ckcustLog").prop("checked", true);
                break;
            case "shipmentrecord":
                jQuery("#ckcompLog").prop("checked", true);
                break;
            case "shippementddate":
                jQuery("#ckcodeLog").prop("checked", true);
                var szSearch = '@ViewBag.SearchItemLog';
                var szDate = '@ViewBag.CurrentDate';
                if (szSearch == "") {
                    jQuery("#searchItemLog").val(szDate)
                }
                break;
            default:
                jQuery("#ckstateLog").prop("checked", true);
                break;
            }
        }

        function clickckcodeLog(src, arg) {

            var bChkItem = (src.target.checked);
            if (bChkItem) {
                //jQuery("#searchItem").val("");
                var szSearch = '@ViewBag.SearchItemLog';
                var szDate = '@ViewBag.CurrentDateLog';
                if (szSearch == "") {
                    jQuery("#searchItemLog").val(szDate)
                } else {
                    jQuery("#searchItemLog").val(szDate);
                }
                jQuery("#ckCriteriaHlpLog").val("shippementddate");
                jQuery("#ckcustLog").prop("checked", false);
                jQuery("#ckcompLog").prop("checked", false);
            }
        }

        function clickckcompLog(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItemLog").val("");
                jQuery("#ckCriteriaHlpLog").val("shipmentrecord");
                jQuery("#ckcustLog").prop("checked", false);
                jQuery("#ckcodeLog").prop("checked", false);

            }
        }

        function clickckcustLog(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItemLog").val("");
                jQuery("#ckCriteriaHlpLog").val("invoice");
                jQuery("#ckcompLog").prop("checked", false);
                jQuery("#ckcodeLog").prop("checked", false);
            }
        }


        function upsRateSuccess(response, statusCode) {

            //var szResult = eval("(" + response + ")");
            //jQuery("#txtapiresultsid").val(szResult);
            $('#apiresultsid').html(response);
            $('#processShipmentBtn').show();

            //Hide load image
            HideLoadingDialog();

        }

        function SetDefaultRateSelectors() {
            jQuery("#selectrequestoptionid").val("Rate");
            jQuery("#selectcustomertypeid").val("00");
            jQuery("#selectupsServiceTypeid").val("03");
            jQuery("#selectpacakePackTypeid").val("02");

            //jQuery("#btUpsRate").prop("disabled", "true");
            jQuery("#btUpsRate").css("cursor", "not-allowed");
            jQuery("#btUpsRate").attr("title", "Validate Address first");
        }

        function SetDefaultCheckBox(szckCriteria) {
            jQuery("#ckcust").prop("checked", false);
            switch (szckCriteria) {
            case "invoice":
                jQuery("#ckcust").prop("checked", true);
                break;
            case "salesorder":
                jQuery("#ckcomp").prop("checked", true);
                break;
            case "customerpo":
                jQuery("#ckphon").prop("checked", true);
                break;
            case "customername":
                jQuery("#ckemai").prop("checked", true);
                break;
            case "shippeddate":
                jQuery("#ckcode").prop("checked", true);
                var szSearch = '@ViewBag.SearchItem';
                var szDate = '@ViewBag.CurrentDate';
                if (szSearch == "") {
                    jQuery("#searchItem").val(szDate)
                }
                break;
            case "itemno":
                jQuery("#ckstate").prop("checked", true);
                break;
            default:
                jQuery("#ckstate").prop("checked", true);
                break;
            }
        }

        function SetDefaultCheckBox(szckCriteria) {
            jQuery("#ckcust").prop("checked", false);
            switch (szckCriteria) {
            case "invoice":
                jQuery("#ckcust").prop("checked", true);
                break;
            case "salesorder":
                jQuery("#ckcomp").prop("checked", true);
                break;
            case "customerpo":
                jQuery("#ckphon").prop("checked", true);
                break;
            case "customername":
                jQuery("#ckemai").prop("checked", true);
                break;
            case "shippeddate":
                jQuery("#ckcode").prop("checked", true);
                var szSearch = '@ViewBag.SearchItem';
                var szDate = '@ViewBag.CurrentDate';
                if (szSearch == "") {
                    jQuery("#searchItem").val(szDate)
                }
                break;
            case "itemno":
                jQuery("#ckstate").prop("checked", true);
                break;
            default:
                jQuery("#ckstate").prop("checked", true);
                break;
            }
        }

        function clickckstate(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItem").val("");
                jQuery("#ckCriteriaHlp").val("itemno");
                jQuery("#ckcust").prop("checked", false);
                jQuery("#ckcomp").prop("checked", false);
                jQuery("#ckphon").prop("checked", false);
                jQuery("#ckemai").prop("checked", false);
                jQuery("#ckcode").prop("checked", false);

                var trObj = jQuery(".trhlp").remove();
            }
        }

        function clickckcode(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                //jQuery("#searchItem").val("");
                var szSearch = '@ViewBag.SearchItem';
                var szDate = '@ViewBag.CurrentDate';
                if (szSearch == "") {
                    jQuery("#searchItem").val(szDate)
                } else {
                    jQuery("#searchItem").val("");
                }
                jQuery("#ckCriteriaHlp").val("shippeddate");
                jQuery("#ckcust").prop("checked", false);
                jQuery("#ckcomp").prop("checked", false);
                jQuery("#ckphon").prop("checked", false);
                jQuery("#ckemai").prop("checked", false);
                jQuery("#ckstate").prop("checked", false);

                var trObj = jQuery(".trhlp").remove();
            }
        }

        function clickcckemai(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItem").val("");
                jQuery("#ckCriteriaHlp").val("customername");
                jQuery("#ckcust").prop("checked", false);
                jQuery("#ckcomp").prop("checked", false);
                jQuery("#ckphon").prop("checked", false);
                jQuery("#ckcode").prop("checked", false);
                jQuery("#ckstate").prop("checked", false);

                var trObj = jQuery(".trhlp").remove();
            }
        }

        function clickckphon(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItem").val("");
                jQuery("#ckCriteriaHlp").val("customerpo");
                jQuery("#ckcust").prop("checked", false);
                jQuery("#ckcomp").prop("checked", false);
                jQuery("#ckemai").prop("checked", false);
                jQuery("#ckcode").prop("checked", false);
                jQuery("#ckstate").prop("checked", false);

                var trObj = jQuery(".trhlp").remove();
            }
        }

        function clickckcomp(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItem").val("");
                jQuery("#ckCriteriaHlp").val("salesorder");
                jQuery("#ckcust").prop("checked", false);
                jQuery("#ckphon").prop("checked", false);
                jQuery("#ckemai").prop("checked", false);
                jQuery("#ckcode").prop("checked", false);
                jQuery("#ckstate").prop("checked", false);

                var trObj = jQuery(".trhlp").remove();
            }
        }

        function clickckcust(src, arg) {
            var bChkItem = (src.target.checked);
            if (bChkItem) {
                jQuery("#searchItem").val("");
                jQuery("#ckCriteriaHlp").val("invoice");
                jQuery("#ckcomp").prop("checked", false);
                jQuery("#ckphon").prop("checked", false);
                jQuery("#ckemai").prop("checked", false);
                jQuery("#ckcode").prop("checked", false);
                jQuery("#ckstate").prop("checked", false);

                var trObj = jQuery(".trhlp").remove();
            }
        }

        function clickckActive(src, arg) {
            var bChkActive = (src.target.checked);
            if (bChkActive) {
                jQuery("#ckActiveHlp").val("true");
            } else {
                jQuery("#ckActiveHlp").val("false");
            }
        }

        function clickselectInvoicelnk(src, arg) {
            src.preventDefault();
            //debugger;
            //Display load image
            ShowLoadingDialog();

            //Get search criteria
            var szSealesOrderNo = $('#invoiceNoid').val(); //"0";//jQuery("#searchItem").val();
            var szCustomer = "false"; //jQuery("#ckActiveHlp").val();
            var szEmail = "invoice"; //jQuery("#ckCriteriaHlp").val();

            //Get the partial view
            //var szUrl = jQuery("#lnkResetSelectSOId").attr("href");
            var szUrl = jQuery(src.target).attr("href"); //jQuery("#searchsalesorderformid").attr("action");
            if (szUrl != "") {
                szUrl = szUrl + '?searchItem=' + szSealesOrderNo + '&ckActive=' + szCustomer + '&ckCriteria=' + szEmail + '&sortOrder=' + 'InvoiceNoDesc';
            }

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectInvoiceSuccess
            });

            return false;
        }

        // Sorting.
        function sortInvoiceData(sortOrder) {

            //src.preventDefault();

            //Display load image
            ShowLoadingDialog();

            //Get search criteria
            var szSealesOrderNo = $('#invoiceNoid').val(); //"0";//jQuery("#searchItem").val();
            var szCustomer = "false"; //jQuery("#ckActiveHlp").val();
            var szEmail = "invoice"; //jQuery("#ckCriteriaHlp").val();

            //Get the partial view
            //var szUrl = jQuery("#lnkResetSelectSOId").attr("href");
            var szUrl = '@Url.Action("SelectInvoice", "Shipment")'; // jQuery(src.target).attr("href"); //jQuery("#searchsalesorderformid").attr("action");
            if (szUrl != "") {
                szUrl = szUrl + '?searchItem=' + szSealesOrderNo + '&ckActive=' + szCustomer + '&ckCriteria=' + szEmail + '&sortOrder=' + sortOrder;
            }

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectInvoiceSuccess
            });

            return false;
        }

        function AjaxFailed(response, statusCode, optionerror) {
            //debugger;
            //var response = ajaxContext.get_response();
            //var statusCode = response.get_statusCode();
            alert("Sorry, the request failed with status code: " + statusCode);
        }

        function selectInvoiceSuccess(response, statusCode) {
            //debugger;
            var objRes = response;

            //Display the response data
            $("#shipmentDialog").show();
            jQuery("#shipmentDialog").html(objRes);

            //Hide load image
            HideLoadingDialog();

            //Set the buttons lnkResetId
            jQuery(".btn btn-default").button();

            //var szckCriteria = '@ViewBag.ckCriteriaHlp';
            var szckCriteria = jQuery("#ckCriteriaHlp").val();
            //var szckActiveHlp = '@ViewBag.ckActiveHlp';
            var szckActiveHlp = jQuery("#ckActiveHlp").val();
            SetDefaultCheckBox(szckCriteria);


            if (szckActiveHlp == "true") {
                jQuery("#ckActive").prop("checked", true);
            } else {
                jQuery("#ckActive").prop("checked", false);
            }

            //Attach handlers
            jQuery("#btDialogClose").click(clickbtDialogClose);
            jQuery("#lnkResetSelectSOId").click(clicklnkResetSelectSOId);
            jQuery("#searchsalesorderformid").submit(submitsearchsalesorderformid);
            // jQuery("#btnSaveInvoiceData").click(postInvoiceData);
            jQuery("#ckActive").click(clickckActive);
            jQuery("#ckcust").click(clickckcust);
            jQuery("#ckcomp").click(clickckcomp);
            jQuery("#ckphon").click(clickckphon);
            jQuery("#ckemai").click(clickcckemai);
            jQuery("#ckcode").click(clickckcode);
            jQuery("#ckstate").click(clickckstate);

            jQuery(".editInvoicelnk a").each(eacheditInvoicelnk);

        }

        function eacheditInvoicelnk(nPos, src) {
            jQuery(src).click(clickeditInvoicelnk);
        }

        function clickeditInvoicelnk(src, arg) {

            src.preventDefault();
            //alert('test');
            // Hide the grid
            $("#shipmentDialog").hide();

            var szHref = src.target.href;
            var szHlp = szHref.split('/');
            var szId = szHlp[szHlp.length - 1];
            var szInvNo = jQuery("#incNo_" + szId).html();
            szInvNo = jQuery.trim(szInvNo);

            jQuery("#invoiceNoid").val(szInvNo);
            //jQuery("#shipmentDialog").dialog("close");

            //Load selected Invoice
            LoadInvoice(szId);

        }

        function clickbtDialogClose(src, arg) {
            //jQuery("#shipmentDialog").dialog("close");
        }

        function clicklnkResetSelectSOId(src, arg) {
            //debugger;
            src.preventDefault();

            //Display load image
            ShowLoadingDialog();

            //Get the partial view
            var szUrl = jQuery(src.target.parentNode).attr("href");

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectSalesOrderSuccess
            });
        }

        function submitsearchsalesorderformid(src, arg) {
            //debugger;
            src.preventDefault();


            //Display load image
            ShowLoadingDialog();

            //Get search criteria
            var szSealesOrderNo = jQuery("#searchItem").val();
            var szCustomer = jQuery("#ckActiveHlp").val();
            var szEmail = jQuery("#ckCriteriaHlp").val();

            //Get the partial view
            //var szUrl = jQuery("#lnkResetSelectSOId").attr("href");
            var szUrl = jQuery("#searchsalesorderformid").attr("action");
            if (szUrl != "") {
                szUrl = szUrl + '?searchItem=' + szSealesOrderNo + '&ckActive=' + szCustomer + '&ckCriteria=' + szEmail;
            }

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectInvoiceSuccess
            });

            return false;
        }

        function LoadInvoice(InvNo) {
            InvNo = jQuery.trim(InvNo);
            var szInvNo = "/" + InvNo;
            var szInvNoDet = "=" + InvNo;
            var szUrl = jQuery("#editlnk").attr('href');
            szUrl = szUrl.replace("/0", szInvNo);

            var szHrefDet = jQuery("#getsalesdetailsId").attr("href");

            szHrefDet = szHrefDet.replace("=0", szInvNoDet);

            jQuery("#getsalesdetailsId").attr("href", szHrefDet);

            //Display load image
            ShowLoadingDialog();


            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectEditInvoiceSuccess
            });
        }

        function postInvoiceData() {
            alert("poted");
            $.ajax({
                type: "POST",
                dataType: 'html',
                url: "/Shipment/Edit",
                data: $('#editsalesorderid').serialize(),
                success: selectEditInvoiceSuccess
            });
        }

        function DisplayInvoice(id) {
            var szUrl = '@Url.Action("DisplayInvoice", "Shipment")' + '?id=' + id;

            var szInvNoDet = "=" + id;
            var szHrefDet = jQuery("#getsalesdetailsId").attr("href");
            szHrefDet = szHrefDet.replace("=0", szInvNoDet);
            jQuery("#getsalesdetailsId").attr("href", szHrefDet);

            //Display load image
            ShowLoadingDialog();


            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: DisplayInvoiceSuccess
            });
        }

        function DisplayInvoiceSuccess(response, statusCode) {

            var objRes = response;

            //Display the response data
            jQuery("#displayInvoicediv").html(objRes);

            //Hide load image
            HideLoadingDialog();


        }

        //Load Invoice
        function loadInvoiceDetails(id) {
            //$("#shipmentDialog").hide();

            var szUrl = '@Url.Action("Edit", "Shipment")' + '?id=' + id;
            DisplayInvoice(id);
            var szInvNoDet = "=" + id;
            var szHrefDet = jQuery("#getsalesdetailsId").attr("href");
            szHrefDet = szHrefDet.replace("=0", szInvNoDet);
            jQuery("#getsalesdetailsId").attr("href", szHrefDet);

            //Display load image
            ShowLoadingDialog();


            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectEditInvoiceSuccess
            });
        }

        function selectEditInvoiceSuccess(response, statusCode) {

            var objRes = response;
            //jQuery("#displayInvoicediv").html(objRes);
            //Display the response data
            jQuery("#editInvoicediv").html(objRes);

            //Hide load image
            HideLoadingDialog();

            //Set the buttons
            jQuery(".btn btn-default").button();


            jQuery("#tradeeditselector01id").html($('#divCompanyName').text().trim());

            //Mark error message
            var szMsg = jQuery("#addressresultdiv").html();
            szMsg = jQuery.trim(szMsg);
            var nPos = -1;
            nPos = szMsg.indexOf("Error:");
            if (nPos != -1) {
                jQuery("#addressresultdiv").attr("class", "error");
            }

            //Move address validation result
            jQuery("#addressresultdiv").appendTo(jQuery("#addressvalidationdiv"));
            jQuery("#upserrordiv").appendTo(jQuery("#addressvalidationdiv"));

            //Enable Get UPS rate button
            var szAddressResult03 = jQuery("#addressresultdiv03").html();
            szAddressResult03 = jQuery.trim(szAddressResult03);
            if (szAddressResult03 != "") {
                //jQuery("#btUpsRate").prop("disabled", "false");
                jQuery("#btUpsRate").css("cursor", "default");
                jQuery("#btUpsRate").attr("title", "");
            }
            //debugger;
            jQuery("#invoiceNoid").prop("disabled", "true");

            jQuery("#addressresultdiv03").show();
            var szInvoiceNo = jQuery("#editsalesorderid #InvoiceNo").val();
            if (szInvoiceNo != "") {
                jQuery("#invoiceNoid").val(szInvoiceNo);
            }

            var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
            if (szInvoiceId != undefined) {
                DisplayInvoice(szInvoiceId);
                LoadShipmentDetails(szInvoiceId);
            }

            ShowLoadingDialog();

            var szUrl = jQuery("#getsalesdetailsId").attr("href");

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: selectEditInvoiceDetailSuccess
            });

        }

        function selectEditInvoiceDetailSuccess(response, statusCode) {
            //debugger;
            var objRes = response;

            //Display the response data
            jQuery("#salesdetailsid").html(objRes);

            //Hide load image and select invoice link
            HideLoadingDialog();
            jQuery("#selectInvoicelnk").css("display", "none");

            //Initialize dialog
            jQuery("#selectvendorDialog").dialog({ autoOpen: false, modal: true });

            //Set the shipment link
            jQuery(".detailShipment a").each(eachdetailShipment);

            //Set readonly fields
            // the tax should be on product only, no tax on service
            jQuery(".service input").each(eachInvoicedetailservice);
            jQuery(".detailShipmentUpdate a").each(eachdetailShipmentUpdate);

            //Set the buttons
            jQuery(".btn btn-default").button();

            //Attach handlers
            jQuery(".pagination ul li a").each(eachlnknavigationDetails);
            jQuery(".lnkEditDetail a").each(eachlnkEditDetail);
            jQuery(".lnkUpdateDetail a").each(eachlnkUpdateDetail);
            jQuery("#lnkAddSalesOrderDetail").click(clicklnkAddSalesOrderDetail);
            jQuery(".lnkAddDetail a").each(eachlnkAddDetail);
            jQuery(".lksalesdetailQty input").each(eachlksalesdetailQty);
            jQuery(".imprintselectorclass").each(eachimprintselectorclass);
            jQuery(".imprintclass").each(eachimprintclass);
            //$(document).on("click", "#lnkAddShipmentDetail", clicklnkAddShipmentDetail);
            //Hide fields not used
            jQuery(".teshipment").css("display", "none");

            //Display required fields
            jQuery(".lnkShipItem button").each(eachlnkShipItem);
            jQuery(".lnkShipItem button").on('click', addShipmentItem);
            //Center other fields
            jQuery(".edititemhlpdiv").css("width", "600px");
            jQuery(".edititemhlpdiv").css("margin", "0px auto");
            jQuery("#invoiceAddButton").hide();
            //Load Shipment Details
            var szHayShipment = jQuery("#hasShipmentDiv").html();
            szHayShipment = jQuery.trim(szHayShipment);
            if (szHayShipment != "0") {
                LoadShipmentDetails(szHayShipment);

            } else {
                jQuery("#shipmentDetailsdialog").html("<p>No shipments available.</p>");
            }
        }

        function LoadProcessInformation(invoiceId) {
            var upsShipperNumber = jQuery("#shipperNumber").val();
            var szMsg = "=" + invoiceId + "&upsNumber=" + upsShipperNumber;

            var szUrl = jQuery("#getprocessdetailsId").attr("href");
            szUrl = szUrl.replace("=0", szMsg);

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: processDetailSuccess
            });
        }

        function LoadUpsRateInformation(invoiceId) {
            debugger;
            var itemId = jQuery("#item_Sub_ItemID").val();
            var quantity = jQuery("#divQuantity1").text();
            var upsShipperNumber = jQuery("#shipperNumber").val();
            var toZip = jQuery("#ToZip").val();
            var szMsg = "=" + invoiceId + "&shipToPostalCode=" + toZip + "&upsShipperNumber=" + upsShipperNumber;

            var szUrl = jQuery("#getUpsRateDetailsId").attr("href");
            szUrl = szUrl.replace("=0", szMsg);
            if (jQuery("#addressresultdiv03").text() != '') {
                ShowLoadingDialog();
                jQuery.ajax({
                    type: 'GET',
                    url: szUrl,
                    data: null,
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'html',
                    error: AjaxFailed,
                    success: upsRateDetailSuccess
                });
            } else {
                alert("Please validate the shipment address.");
            }
        }


        function LoadShipmentDetails(invoiceId) {
            //Load Shipment Detail

            //Display load image
            ShowLoadingDialog();

            var szMsg = "=" + invoiceId;

            var szUrl = jQuery("#getshipmentdetailsId").attr("href");
            szUrl = szUrl.replace("=0", szMsg);

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: shipmentDetailSuccess
            });
        }

        function upsRateDetailSuccess(response) {
            var objRes = response;
            //Display the response data

            jQuery("#apiresultsid").html(objRes);
            jQuery("#apiresultsid").show();
            HideLoadingDialog();
        }

        function processDetailSuccess(response) {
            var objRes = response;
            //Display the response data
            jQuery("#processShipmentInfo").html(objRes);
            showBillerInformation();

            var szHayShipment = jQuery("#hasShipmentDiv").html();
            szHayShipment = jQuery.trim(szHayShipment);

        }

        function shipmentDetailSuccess(response, statusCode) {
            var objRes = response;
            //Display the response data
            jQuery("#shipmentDetailsdialog").html(objRes);

            //Readonly Data

            jQuery("#shipmentDetailsDisplay").html(objRes);
            jQuery("#shipmentDetailsDisplay .btn").hide();
            jQuery("#shipmentDetailsDisplay #itemId").hide();
            $("#shipmentDetailsDisplay input").prop('disabled', true);


            //Hide load image and select invoice link
            HideLoadingDialog();
            $('.shippingQuantity').each(function(i, obj) {
                $(this).css("border", "none");
                $(this).prop("readonly", true);
            });

            clickChangeTab(1);
            var szHayShipment = jQuery("#hasShipmentDiv").html();
            szHayShipment = jQuery.trim(szHayShipment);
            if (szHayShipment != "0") {
                LoadProcessInformation(szHayShipment);
            }
            jQuery("#imageRow img").click(ShowBoxLabel);
        }

        function showBillerInformation() {
            var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
            if (szInvoiceId != undefined) {
                var szUrl = "/Shipment/GetBillerCustomerInformation?invoiceId=" + szInvoiceId;

                jQuery.ajax({
                    type: 'GET',
                    url: szUrl,
                    data: null,
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'html',
                    error: AjaxFailed,
                    success: function(data) {
                        $("#billerInformation").html(data);
                        HideLoadingDialog();

                    }
                });
            }
        }

        function AddShipmentDetail(detailId) {

            debugger;
            var szHref = "/Shipment/DuplicateDetailBox?";
            var szInvoiceNo = jQuery("#invoiceNoid").val();
            var szItemId = $('#itemId').val();
            szHref = szHref + 'invoiceNoId=' + szInvoiceNo + '&itemId=' + szItemId;

            ShowLoadingDialog();

            var szUrl = szHref;

            jQuery.ajax({
                type: 'POST',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: function(data) {
                    $("#shipmentDetailsdialog").html(data);
                    HideLoadingDialog();
                    var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
                    if (szInvoiceId != undefined) {
                        loadInvoiceDetails(szInvoiceId);
                    }
                    changeInvoiceRemainingQty(detailId);
                }
            });
        }

        function addshipmentDetailSuccess(response, status) {
            //debugger;


            var objRes = response;

            //Display the response data
            jQuery("#selectvendorDialog").html(objRes);

            //Hide load image
            HideLoadingDialog();

            //Set the buttons
            jQuery(".btn btn-default").button();
            //jQuery(".btnSubmitSearch").button();
            $('#processShipmentBtn').show();
            ////Attach handlers
            jQuery("#btDialogCloseAddDetail").click(clickbtDialogCloseAddDetail);

            //Get the title
            //debugger;
            var szTitle = "Shipment Detail";

            //Show the dialog (used with the BuscarDepartamento call)
            jQuery("#selectvendorDialog").dialog("option", "title", "Add " + szTitle);

            //setter
            jQuery("#selectvendorDialog").dialog("option", "width", 340);


            //display the popup dialog
            jQuery("#selectvendorDialog").dialog("open");

            //Event for updating/deleting boxes
            jQuery("#PostNewDetail").click(postDetailData);


        }

        function clickbtDialogCloseAddDetail(src, arg) {
            jQuery("#selectvendorDialog").dialog("close");
        }

        function eachdetailShipment(nPos, src) {
            var szHref = src.href;
            if (szHref != "") {
                szHref = szHref + '?shipment=true';
                src.href = szHref;
            }
        }

        function eachlnkShipItem(nPos, src) {
            jQuery(src).css("display", "block");

        }

        function addShipmentItem() {
            debugger;
            var szUrl = "/Shipment/ShipItem?";
            var salesorderId = $(this).attr('data-salesorder');
            var invoiceId = $(this).attr('data-itemid');
            var shippedQuantity = $("#result_shipqty_" + invoiceId).text();
            var remainQty = $("#result_remainingqty_" + invoiceId).text();

            if (shippedQuantity == 0) {
                alert("Can't make this request. Shipped quantity can not be 0");
                return;
            }
            if (remainQty == 0) {
                alert("Sorry. There are no more items to ship");
                return;
            }

            szUrl = szUrl + "salesorderid=" + salesorderId + "&shipqty=" + shippedQuantity + "&id=" + invoiceId;

            jQuery.ajax({
                type: 'POST',
                url: szUrl,
                data: null,
                dataType: 'html',
                error: AjaxFailed
            }).success(function(response) {
                var objRes = response;
                //debugger;
                //Display the response data
                jQuery("#shipmentDetailsdialog").html(objRes);
                // jQuery("#shipmentDialog").show();
                //Hide load image and select invoice link
                HideLoadingDialog();
                changeInvoiceRemainingQty(invoiceId);
                clickChangeTab(1);
            });

        }

        function changeMultipleInvoiceRemainingQty(shpDetailId) {

            var szUrl = "/Shipment/GetMultipleInvoiceRemainingQuantity?shipDetailIdList=" + shpDetailId;
            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                error: AjaxFailed
            }).success(function(response) {
                debugger;
                if ((response != "-1") && (response != 'undefined')) {
                    var data = JSON.parse(response); // this will convert your json string to a javascript object

                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            $("#remainingqty_" + key + " span").text(data[key]);
                            //$("#shipqty_" + key + " input").val(data[key]);
                            //$("#shipqty_" + key + " input").val(0);
                            //$("#result_shipqty_" + key).text(data[key]);
                        }
                    }
                }

            });

        }

        function changeInvoiceRemainingQty(salesorderid) {
            debugger;
            var szUrl = "/Shipment/GetInvoiceRemainingQuantity?invDetailId=" + salesorderid;
            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                error: AjaxFailed
            }).success(function(response) {
                if (response != "-1") {
                    $("#remainingqty_" + salesorderid + " span").text(response);
                    $("#shipqty_" + salesorderid + " input").val(0);
                    $("#result_shipqty_" + salesorderid).text(0);
                } else {
                    alert("Could not update shipping values.");
                }
            });

        }


        function eachInvoicedetailservice(nPos, src) {
            //debugger;
            jQuery(src).attr("readonly", "readonly");
            jQuery(src).attr("disabled");
        }

        function eachlnknavigationDetails(nPos, src) {
            if (src.href != "") {
                jQuery(src).click(clicklnknavigationDetails);
            }
        }

        function eachlnkUpdateDetail(nPos, src) {
            jQuery(src).click(clicklnkUpdateDetail);
        }

        function deleteDetailBox(shipmentDetailId, detailId) {
            debugger;
            var r = confirm("Are you sure you want to delete this detail?");
            if (r == true) {
                $.ajax({
                    type: "POST",
                    dataType: 'text',
                    url: "/Shipment/Delete",
                    data: "shipmentDetailId=" + shipmentDetailId,
                    success: function(data) {
                        $("#shipmentDetailsdialog").html(data);
                        var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
                        if (szInvoiceId != undefined) {
                            loadInvoiceDetails(szInvoiceId);
                        }
                        changeInvoiceRemainingQty(detailId);
                    }
                });
            }
        }

        function updateDetailBox(boxDetails) {
            ShowLoadingDialog();

            $.ajax({
                type: "POST",
                dataType: 'html',
                url: "/Shipment/UpdateDetail",
                data: $('#detailboxForm').serialize(),
                success: updateDetailBoxSuccess
            });

        }

        function updateDetailBoxSuccess(data) {
            $("#shipmentDetailsdialog").html(data);
            $("#apiresultsid").hide();
            HideLoadingDialog();
            var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();
            if (szInvoiceId != undefined) {
                var szUrl = "/Shipment/GetShipmentDetailByInvoice?invoiceId=" + szInvoiceId;
                jQuery.ajax({
                    type: 'GET',
                    url: szUrl,
                    data: null,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    error: AjaxFailed,
                    success: function(response) {
                        debugger;
                        if (response != undefined) {
                            var arrayOfShipId = response;

                            changeMultipleInvoiceRemainingQty(arrayOfShipId);

                        }
                    }
                });

            }
        }

        function postDetailData(src, arg) {
            src.preventDefault();
            var szInvoiceId = jQuery("#editsalesorderid #InvoiceId").val();

            $.ajax({
                type: "POST",
                url: "/Shipment/AddDetail",
                data: $('#detailForm').serialize(),
                datatype: "html",
                success: function(data) {
                    clickbtDialogCloseAddDetail();
                    //debugger;
                    $('#shipmentDetailsdialog').html(data);

                },
                fail: function() {
                    alert("fail");
                }
            });
        }

        function clicklnkAddSalesOrderDetail(src, arg) {
            src.preventDefault();

            //Display load image
            ShowLoadingDialog();

            //debugger;
            //Get the partial view
            var szUrl = jQuery(src.target).attr("href");

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: adddetailSuccess
            });
        }

        function adddetailSuccess(response, status) {
            //debugger;

            var objRes = response;
            $('#processShipmentBtn').show();
            //Display the response data
            jQuery("#selectvendorDialog").html(objRes);

            //Hide load image
            HideLoadingDialog();

            //Set the buttons
            jQuery(".btn btn-default").button();
            jQuery(".btnSubmitSearch").button();

            //Attach handlers
            jQuery("#btDialogClose").click(clickbtDialogClose);
            jQuery(".pagination ul li a").each(eachlnknavigationAddDetail);
            jQuery(".lnkResetId a").click(clicklnkResetId);
            jQuery("#searchsubitemid").submit(submitsearchsubitemid);


            //Initialize fields
            jQuery(".adddetailShipment a").each(eachadddetailShipmentlnk);


            //Get the title
            //debugger;
            var szTitle = "Sales Order Detail";

            //Show the dialog (used with the BuscarDepartamento call)
            jQuery("#selectvendorDialog").dialog("option", "title", "Add " + szTitle);

            //setter
            jQuery("#selectvendorDialog").dialog("option", "width", 800);

            //display the popup dialog
            jQuery("#selectvendorDialog").dialog("open");
        }

        function eachadddetailShipmentlnk(nPos, src) {
            var szHref = src.href;
            if (szHref != "") {
                szHref = szHref + '&shipment=true';
                src.href = szHref;
            }
        }

        function eachlnknavigationAddDetail(nPos, src) {
            if (src.href != "") {
                jQuery(src).click(clicklnknavigationAddDetail);
            }
        }

        function eachdetailShipmentUpdate(nPos, src) {
            var szHref = src.href;
            if (szHref != "") {
                szHref = szHref + '&shipment=true';
                src.href = szHref;
            }
        }

        function clicklnknavigationAddDetail(src, arg) {
            //debugger;
            src.preventDefault();

            //Display load image
            ShowLoadingDialog();

            //Get the partial view
            var szUrl = jQuery(src.target).attr("href");

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: adddetailSuccess
            });
        }

        function clicklnkResetId(src, arg) {
            //debugger;
            src.preventDefault();

            //Display load image
            ShowLoadingDialog();

            //Get the partial view
            var szUrl = jQuery(src.target.parentNode).attr("href");

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: adddetailSuccess
            });
        }

        function submitsearchsubitemid(src, arg) {
            //debugger;
            src.preventDefault();

            //Display load image
            ShowLoadingDialog();

            //Get the seacrh parameter
            var szSearchItem = jQuery("#searchItem").val();

            //Get the partial view
            var szUrl = jQuery(src.target).attr("action");
            if (szSearchItem != "") {
                szUrl = szUrl + '&searchitem=' + szSearchItem;
            }

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: adddetailSuccess
            });
        }

        function eachlnkAddDetail(nPos, src) {
            //debugger;
            jQuery(src).click(clicklnkAddDetail);
        }

        function clicklnkAddDetail(src, arg) {
            //debugger;
            src.preventDefault();

            var nPos = -1;
            var nPos1 = -1;
            var itemPos = 0;
            var itemOrder = 0;
            var szMsg = "";
            var hRefHlp0 = src.target.href;
            var hRefHlp = hRefHlp0.split('=');
            if (hRefHlp != null) {
                itemOrder = hRefHlp[hRefHlp.length - 1];

                nPos = hRefHlp0.indexOf("itemPos=");
                if (nPos != -1) {
                    szMsg = hRefHlp0.substring(nPos + 8);
                    nPos1 = szMsg.indexOf("&");
                    if (nPos1 != -1) {
                        itemPos = szMsg.substring(0, nPos1);
                    }
                }
            }

            var hrefAdd = jQuery("#lnkAddSalesOrderDetail").attr("href");
            if (itemPos != "") {
                hrefAdd = hrefAdd + '&itemPos=' + itemPos + '&itemOrder=' + itemOrder;
                jQuery("#lnkAddSalesOrderDetail").attr("href", hrefAdd)
            }

            jQuery("#lnkAddSalesOrderDetail").trigger('click');
        }

        function clicklnkAddDetail(src, arg) {
            //debugger;
            src.preventDefault();

            var nPos = -1;
            var nPos1 = -1;
            var itemPos = 0;
            var itemOrder = 0;
            var szMsg = "";
            var hRefHlp0 = src.target.href;
            var hRefHlp = hRefHlp0.split('=');
            if (hRefHlp != null) {
                itemOrder = hRefHlp[hRefHlp.length - 1];

                nPos = hRefHlp0.indexOf("itemPos=");
                if (nPos != -1) {
                    szMsg = hRefHlp0.substring(nPos + 8);
                    nPos1 = szMsg.indexOf("&");
                    if (nPos1 != -1) {
                        itemPos = szMsg.substring(0, nPos1);
                    }
                }
            }

            var hrefAdd = jQuery("#lnkAddSalesOrderDetail").attr("href");
            if (itemPos != "") {
                hrefAdd = hrefAdd + '&itemPos=' + itemPos + '&itemOrder=' + itemOrder;
                jQuery("#lnkAddSalesOrderDetail").attr("href", hrefAdd)
            }

            jQuery("#lnkAddSalesOrderDetail").trigger('click');
        }

        function eachlksalesdetailQty(nPos, src) {
            jQuery(src).change(changesalesdetailQty);
        }

        function changesalesdetailQty(src, arg) {
            //debugger;
            var szMsg = src.target.parentNode.id;
            szMsg = szMsg.replace("qty_", "lkup_");
            var lkHlp = jQuery("#" + szMsg).attr("href");

            var hrefHlp = lkHlp;
            var szHlp = hrefHlp.split('/');
            var szMsg = "";
            var szQty = "";
            var szShipQty = "";
            var szBOQty = "";
            var szDesc = "";
            var szPrice = "";
            var szId = "0";
            var nPos = -1;
            szMsg = szHlp[szHlp.length - 1];
            nPos = szMsg.indexOf('?');
            if (nPos != -1) {
                szId = szMsg.substring(0, nPos);
            }
            if (szId != "0") {
                szMsg = "#qty_" + szId + ' input';
                szQty = jQuery(szMsg).val();
                szMsg = "#shipqty_" + szId + ' input';
                szShipQty = jQuery(szMsg).val();
                szMsg = "#boqty_" + szId + ' input';
                szBOQty = jQuery(szMsg).val();
                szMsg = "#desc_" + szId + ' input';
                szDesc = jQuery(szMsg).val();
                szMsg = "#price_" + szId + ' input';
                szPrice = jQuery(szMsg).val();

                hrefHlp = hrefHlp + '&qty=' + szQty + '&shipqty=' + szShipQty + '&boqty=' + szBOQty + '&desc=' + szDesc + '&price=' + szPrice;
                //src.target.href = hrefHlp;
                //Display load image
                ShowLoadingDialog();

                window.location(hrefHlp);
            }
        }

        function eachimprintselectorclass(nPos, src) {
            jQuery(src).change(changeimprintselector);
        }

        function changeimprintselector(src, arg) {
            var szSelected = jQuery(src.target).val();
            var szId = jQuery(src.target).attr("id");
            szId = szId.replace("ipmtselect_", "ipmt_");
            if (szSelected != "") {
                jQuery("#" + szId + ' input').val(szSelected);
            } else {
                jQuery("#" + szId + ' input').val("");
            }
        }

        function eachimprintclass(nPos, src) {
            jQuery(src).prop("readonly", true);
        }

        function eachlnkEditDetail(nPos, src) {
            jQuery(src).click(clicklnkEditDetail);
        }

        function clicklnkEditDetail(src, arg) {

            //debugger;
            src.preventDefault();

            //Display load image
            ShowLoadingDialog();


            //Get the partial view
            var szUrl = jQuery(src.target).attr("href");

            jQuery.ajax({
                type: 'GET',
                url: szUrl,
                data: null,
                //contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                error: AjaxFailed,
                success: editdetailSuccess
            });
        }

        function editdetailSuccess(response, status) {
            //debugger;

            var objRes = response;

            //Display the response data
            jQuery("#selectvendorDialog").html(objRes);

            //Hide load image and the select invoice link
            HideLoadingDialog();

            //Set the buttons lnkResetId
            jQuery(".btn btn-default").button();

            //Attach handlers
            jQuery("#btDialogClose").click(clickbtDialogClose);
            jQuery("#btnSubmitSearchLocationid").click(clickbtnSubmitSearchLocationid02);

            jQuery(".btnSubmitSearchLocation a").each(eachbtnSubmitSearchVendor);
            jQuery(".lnkSelectLocation a").each(eachlnkSelectLocation);

            jQuery(".btnSubmitSearchLocationlnk a").click(clickbtnSubmitSearchLocationid01);

            jQuery(".pagination ul li a").each(eachlnknavigationlocation);
            //Initialize fields

            //Get the title
            //debugger;
            var szTitle = "Sales Order Detail";

            //Show the dialog (used with the BuscarDepartamento call)
            jQuery("#selectvendorDialog").dialog("option", "title", "Edit " + szTitle);

            //setter
            jQuery("#selectvendorDialog").dialog("option", "width", 800);

            //display the popup dialog
            jQuery("#selectvendorDialog").dialog("open");
        }

        function clicklnkUpdateDetail(src, arg) {
            //debugger;

            var hrefHlp = src.target.href;
            var szHlp = hrefHlp.split('/');
            var szMsg = "";
            var szQty = "";
            var szShipQty = "";
            var szBOQty = "";
            var szDesc = "";
            var szTax = "";
            var szPrice = "";
            var szId = "0";
            var nPos = -1;
            szMsg = szHlp[szHlp.length - 1];
            nPos = szMsg.indexOf('?');
            if (nPos != -1) {
                szId = szMsg.substring(0, nPos);
            }
            if (szId != "0") {
                szMsg = "#qty_" + szId + ' input';
                szQty = jQuery(szMsg).val();
                szMsg = "#shipqty_" + szId + ' input';
                szShipQty = jQuery(szMsg).val();
                szMsg = "#boqty_" + szId + ' input';
                szBOQty = jQuery(szMsg).val();
                szMsg = "#desc_" + szId + ' input';
                szDesc = jQuery(szMsg).val();
                szMsg = "#tax_" + szId + ' input';
                szTax = jQuery(szMsg).val();
                szMsg = "#price_" + szId + ' input';
                szPrice = jQuery(szMsg).val();


                szMsg = "#logo_" + szId + ' input';
                szLogo = jQuery(szMsg).val();
                szMsg = "#ipmt_" + szId + ' input';
                szImprint = jQuery(szMsg).val();
                szMsg = "#qtySC_" + szId + ' input';
                szQtySCid = jQuery(szMsg).val();
                szMsg = "#qtyRC_" + szId + ' input';
                szQtyRCid = jQuery(szMsg).val();
                szMsg = "#priceSC_" + szId + ' input';
                szPriceSC = jQuery(szMsg).val();
                szMsg = "#priceRC_" + szId + ' input';
                szPriceRC = jQuery(szMsg).val();

                hrefHlp = hrefHlp + '&qty=' + szQty + '&shipqty=' + szShipQty + '&boqty=' + szBOQty + '&desc=' + szDesc + '&price=' + szPrice + '&tax=' + szTax + '&logo=' + szLogo + '&imprt=' + szImprint + '&qtysc=' + szQtySCid + '&qtyrc=' + szQtyRCid + '&pricesc=' + szPriceSC + '&pricerc=' + szPriceRC;
                src.target.href = hrefHlp;
            }
        }

        function loadTab(event, ui) {
            //debugger;

            //Use the required ui
            if (ui.index == 1) {
                //Create the buttons
                jQuery(".divButtons a").button();
            }
        }

    </script>
}