@model IEnumerable<TimelyDepotMVC.Models.Admin.Parameters>

<div style="width:300px; margin:5px auto;">
    <table class="webgrid">
        <tr class="webgrid-header">
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Parameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterValue)
            </th>
        </tr>
        @{

            int nRow = 0;
            int nMod = 0;
            string szClass = "";
        }

        @foreach (var item in Model)
        {
            nRow++;
            nMod = (nRow % 2);
            if (nMod == 0)
            {
                szClass = "webgrid-alternating-row";
            }
            else
            {
                szClass = "webgrid-row-style";
            }
            <tr class="@szClass">
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParameterValue)
                </td>
            </tr>
        }

    </table>
</div style="width:300px; margin:5px auto;">
