@model TimelyDepotMVC.Models.Admin.webpages_OAuthMembership

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>webpages_OAuthMembership</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Provider)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Provider)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProviderUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProviderUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
