@model TimelyDepotMVC.Models.Admin.PackageRateLogDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>PackageRateLogDetails</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdRateLog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRateLog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BoxNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BoxNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dimensions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dimensions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DimensionsUnits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DimensionsUnits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeigthUnits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeigthUnits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeclaredValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeclaredValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RequestCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PackageTypeCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PackageTypeCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
